# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Om { -brand-full-name }
releaseNotes-link = Nyheder
update-checkForUpdatesButton =
    .label = Søg efter opdateringer
    .accesskey = S
update-updateButton =
    .label = Genstart for at opdatere { -brand-shorter-name }
    .accesskey = G
update-checkingForUpdates = Søger efter opdateringer…
update-downloading = <img data-l10n-name="icon"/>Henter opdatering — <label data-l10n-name="download-status"/>
update-applying = Installerer opdatering…
update-failed = Opdatering mislykkedes. <label data-l10n-name="failed-link">Hent den seneste version</label>
update-failed-main = Opdatering mislykkedes. <a data-l10n-name="failed-link-main">Hent den seneste version</a>
update-adminDisabled = Opdateringer er deaktiveret af din systemadministrator
update-noUpdatesFound = Der er ingen opdateringer til { -brand-short-name } i øjeblikket
update-otherInstanceHandlingUpdates = { -brand-short-name } er ved at blive opdateret af en anden instans
update-manual = Opdateringer tilgængelige fra <label data-l10n-name="manual-link"/>
update-unsupported = Du kan ikke foretage yderligere opdateringer på dette system.<label data-l10n-name="unsupported-link">Læs mere</label>
update-restarting = Genstarter…
channel-description = Du er i øjeblikket på opdateringskanalen: <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = { -brand-short-name } er eksperimentel og kan være ustabil.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> er et <label data-l10n-name="community-exp-creditsLink">globalt netværk</label>, der arbejder sammen om at holde internettet åbent, offentligt og tilgængeligt for alle.
community-2 = { -brand-short-name } er udviklet af <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, et <label data-l10n-name="community-creditsLink">globalt netværk</label>, der arbejder sammen om at holde internettet åbent, offentligt og tilgængeligt for alle.
helpus = Vil du give en hånd med? <label data-l10n-name="helpus-donateLink">Bidrag med en donation</label> eller <label data-l10n-name="helpus-getInvolvedLink">vær med!</label>
bottomLinks-license = Licensinformation
bottomLinks-rights = Slutbrugerrettigheder
bottomLinks-privacy = Privatlivspolitik
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
