# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = À propos de { -brand-full-name }
releaseNotes-link = Notes de version
update-checkForUpdatesButton =
    .label = Rechercher des mises à jour
    .accesskey = R
update-updateButton =
    .label = Redémarrer pour mettre à jour { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Recherche de mises à jour…
update-downloading = <img data-l10n-name="icon"/>Téléchargement de la mise à jour — <label data-l10n-name="download-status"/>
update-applying = Application de la mise à jour…
update-failed = La mise à jour a échoué. <label data-l10n-name="failed-link">Télécharger la dernière version</label>
update-failed-main = La mise à jour a échoué. <a data-l10n-name="failed-link-main">Télécharger la dernière version</a>
update-adminDisabled = Les mises à jour sont désactivées par votre administrateur système
update-noUpdatesFound = { -brand-short-name } est à jour
update-otherInstanceHandlingUpdates = { -brand-short-name } est mis à jour par une autre instance
update-manual = Mises à jour disponibles à <label data-l10n-name="manual-link"/>
update-unsupported = La dernière version n’est pas disponible pour votre système. <label data-l10n-name="unsupported-link">En savoir plus</label>
update-restarting = Redémarrage…
channel-description = Vous utilisez actuellement le canal de mise à jour <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = { -brand-short-name } est expérimental et peut être instable.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> est une <label data-l10n-name="community-exp-creditsLink">communauté mondiale</label> de contributeurs qui travaillent ensemble pour garder le Web ouvert, public et accessible à tous.
community-2 = { -brand-short-name } est conçu par <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, une communauté mondiale de <label data-l10n-name="community-creditsLink">contributeurs</label> qui travaillent ensemble pour garder le Web ouvert, public et accessible à tous.
helpus = Vous souhaitez aider ? Vous pouvez <label data-l10n-name="helpus-donateLink">faire un don</label> ou bien <label data-l10n-name="helpus-getInvolvedLink">participer</label>
bottomLinks-license = Informations de licence
bottomLinks-rights = Droits de l’utilisateur
bottomLinks-privacy = Politique de confidentialité
aboutDialog-architecture-sixtyFourBit = 64 bits
aboutDialog-architecture-thirtyTwoBit = 32 bits
