# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Rreth Mjeteve të Zhvilluesit
enable-title = Aktivizoni Mjete Zhvilluesi Firefox
enable-inspect-element-title = Që të përdorni Inspekto Element, aktivizoni Mjete Zhvilluesi Firefox
enable-inspect-element-message = Ekzaminoni dhe përpunoni HTML dhe CSS me mbikëqërysin e Mjeteve të Zhvilluesit.
enable-about-debugging-message = Zhvilloni dhe diagnostikoni WebExtensions, web workers, service workers, etj me Mjete Zhvilluesi Firefox.
enable-key-shortcut-message = Aktivizuat një shkurtore Mjetesh Zhvilluesi. Nëse kjo qe gabim, mund ta mbyllni këtë Skedë.
enable-menu-message = Përsosni HTML-në, CSS-në, dhe JavaScript-in e sajtit tuaj me mjete si Mbikëqyrësi dhe Diagnostikuesi.
enable-common-message = Mjetet e Zhvilluesit Firefox, si parazgjedhje, janë të çaktivizuara, për t’ju dhënë më tepër kontroll mbi shfletuesin tuaj.
enable-learn-more-link = Mësoni më tepër rreth Mjetesh Zhvilluesi
enable-enable-button = Aktivizoni Mjete Zhvilluesi
enable-close-button = Mbylle këtë Skedë
welcome-title = Mirë se vini te Mjete Zhvilluesi Firefox!
newsletter-title = Buletini i Zhvilluesve Mozilla
newsletter-message = Merrni lajme, marifete dhe burime zhvilluesish drejt e te email-i juaj.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Nuk e kam problem trajtimin e këtyre të dhënave nga Mozilla ashtu si shpjegohet te këto <a data-l10n-name="privacy-policy">Rregulla Privatësie</a>.
newsletter-subscribe-button = Pajtohuni
newsletter-thanks-title = Faleminderit!
newsletter-thanks-message = Nëse s’e keni ripohuar më parë pajtimin te një buletin i Mozilla-s, mund t’ju duhet ta bëni. Ju lutemi, kontrolloni email-et e marrë ose filtrin tuaj për mesazhe të padëshiruar për një email prej nesh.
footer-title = Firefox Developer Edition
footer-message = Po kërkoni për më tepër se thjesht Mjete Zhvilluesi? Shihni shfletuesin tonë Firefox të ndërtuar posaçërisht për zhvillues dhe rrjedha pune moderne.
footer-learn-more-link = Mësoni më tepër
features-learn-more = Mësoni më tepër
features-inspector-title = Mbikëqyrës
features-inspector-desc = Mbikëqyrni dhe përimtoni kod për të ndërtuar skema të përsosura deri te pikseli i fundit. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = Gjurmoni probleme CSS-je, JavaScript-i, sigurie dhe rrjeti. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Diagnostikues
features-debugger-desc = Diagnostikues i fuqishëm JavaScript me mbulim për platformën tuaj. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rrjet
features-network-desc = Vëzhgoni kërkesa rrjeti që mund të ngadalësojnë apo bllokojnë sajtin tuaj. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Depozitë
features-storage-desc = Shtoni, modifikoni dhe hiqni të dhëna fshehtine, cookie-sh, bazash të dhënash dhe sesionesh. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mënyra Hartim Reagues
features-responsive-desc = Testoni sajte në pajisje të simuluara në shfletuesin tuaj. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Përpunim Pamor
features-visual-editing-desc = Përimtoni në hollësi animacione, drejtim dhe mbushje. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Punim
features-performance-desc = Zhbllokoni bllokimet, thjeshtoni proceset, optimizoni burimet. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Kujtesë
features-memory-desc = Gjeni rrjedhje të kujtesës dhe bëjeni aplikacionin tuaj të shpejtë. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Kërkesa për pajtim dështoi ({ $errorDescription }).
newsletter-error-unknown = Ndodhi një gabim i papritur.
newsletter-error-timeout = Kërkesës për pajtim i mbaroi koha.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = I aktivizuat me sukses Mjetet e Zhvilluesit! Që t’ia filloni, eksploroni menunë e Zhvilluesit Web ose hapni mjetet me { $shortcut }.
