# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } बद्दल
releaseNotes-link = काय नवीन आहे
update-checkForUpdatesButton =
    .label = सुधारणांकरीता तपासणी करा
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } अद्ययावत करण्यासाठी बंद करून पुन्हा चालू करा
    .accesskey = R
update-checkingForUpdates = सुधारणांकरीता तपासणी करत आहे…
update-downloading = <img data-l10n-name="icon"/>सुधारणा डाउनलोड करत आहे — <label data-l10n-name="download-status"/>
update-applying = सुधारणा लागू करत आहे…
update-failed = सुधारणा अपयशी. <label data-l10n-name="failed-link">अद्ययावत आवृत्ती डाऊनलोड करा</label>
update-failed-main = सुधारणा अपयशी. <a data-l10n-name="failed-link-main">अद्ययावत आवृत्ती डाऊनलोड करा</a>
update-adminDisabled = प्रणाली प्रशासकाद्वारे सुधारणा बंद केल्या आहेत
update-noUpdatesFound = { -brand-short-name } अद्ययावत आहे
update-otherInstanceHandlingUpdates = { -brand-short-name } यावेळी वेगळ्या ठिकाणाहून सुधारित होत आहे
update-manual = सुधारणा येथे उपलब्ध आहेत <label data-l10n-name="manual-link"/>
update-unsupported = आपण या सिस्टीमवर आणखी सुधारणा करू शकत नाही. <label data-l10n-name="unsupported-link">अधिक जाणा</label>
update-restarting = पुनःसुरु होत आहे…
channel-description = आपण सध्या <label data-l10n-name="current-channel"></label> सुधारणा वाहिनीवर आहात.{ " " }
warningDesc-version = { -brand-short-name } प्रायोगिक आहे व अस्थिर असू शकते.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> आहे <label data-l10n-name="community-exp-creditsLink">जागतिक समुदाय</label> सर्वांसाठी वेब ओपन, सार्वजनिक व उपलब्ध करण्यासाठी एकत्र कार्यरत आहोत.
community-2 = { -brand-short-name } ची रचना<label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, एक   <label data-l10n-name="community-creditsLink">जागतिक समुदाय</label> सर्वांसाठी वेब ओपन, सार्वजनिक व उपलब्ध करण्यासाठी एकत्र कार्यरत आहोत.
helpus = मदत करू इच्छिता?<label data-l10n-name="helpus-donateLink">देणगी द्या</label> किंवा <label data-l10n-name="helpus-getInvolvedLink">सामील व्हा!</label>
bottomLinks-license = परवाना माहिती
bottomLinks-rights = वापरकर्त्याचे अधिकार
bottomLinks-privacy = गोपनीयता धोरण
aboutDialog-architecture-sixtyFourBit = 64-बिट
aboutDialog-architecture-thirtyTwoBit = 32-बिट
