# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

addons-window =
    .title = ઍડ-ઓન સંચાલક
search-header =
    .placeholder = addons.mozilla.org શોધો
    .searchbuttonlabel = શોધો
search-header-shortcut =
    .key = f
loading-label =
    .value = લાવી રહ્યા છે…
list-empty-installed =
    .value = તમારી પાસે આ પ્રકારનાં સ્થાપિત થયેલ કોઇપણ ઍડ-ઓન નથી
list-empty-available-updates =
    .value = સુધારાઓ મળ્યા નથી
list-empty-recent-updates =
    .value = તમે તાજેતરમાં કોઇપણ ઍડ-ઓનને સુધારેલ નથી
list-empty-find-updates =
    .label = સુધારાઓ માટે ચકાસો
list-empty-button =
    .label = ઍડ-ઓન વિશે વધુ શીખો
install-addon-from-file =
    .label = ફાઇલમાંથી ઍડ-ઓનને સ્થાપિત કરો…
    .accesskey = I
help-button = ઍડ-ઓન્સ આધાર
preferences =
    { PLATFORM() ->
        [windows] { -brand-short-name } વિકલ્પો
       *[other] { -brand-short-name } પસંદગીઓ
    }
tools-menu =
    .tooltiptext = બધા ઍડ-ઓન માટે સાધનો
show-unsigned-extensions-button =
    .label = કેટલાક એક્સ્ટેન્શન્સની ચકાસણી કરી શકાઈ નથી
show-all-extensions-button =
    .label = બધા એક્સ્ટેન્શન્સ બતાવો
debug-addons =
    .label = ઍડ-ઑન્સ ડીબગ કરો
    .accesskey = B
cmd-show-details =
    .label = વધારે જાણકારીને બતાવો
    .accesskey = S
cmd-find-updates =
    .label = સુધારાઓ શોધો
    .accesskey = F
cmd-preferences =
    .label =
        { PLATFORM() ->
            [windows] વિકલ્પો
           *[other] પસંદગીઓ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
cmd-enable-theme =
    .label = થીમને પહેરો
    .accesskey = W
cmd-disable-theme =
    .label = થીમને પહેરવાનું બંધ કરો
    .accesskey = W
cmd-install-addon =
    .label = સ્થાપિત કરો
    .accesskey = I
cmd-contribute =
    .label = ફાળો આપો
    .accesskey = C
    .tooltiptext = આ ઍડ-ઓનનાં વિકાસ માટે ફાળો આપો
discover-title = ક્યાં ઍડ-ઓન છે?
discover-description = ઍડ-ઑન એવા કાર્યક્રમો છે કે જે તમને { -brand-short-name } ને વધારાના વિધેયો કે શૈલી સાથે વ્યક્તિગત બનાવવાની પરવાનગી આપે છે. સમય-બચાવ બાજુપટ્ટીનો પ્રયાસ કરી જુઓ, હવામાન સૂચક, અથવા { -brand-short-name } ને તમારું પોતાનું લાગે એવી થીમવાળું બનાવીને.
discover-footer = જ્યારે તમે ઇન્ટરનેટ સાથે જોડાવો છે ત્યારે, આ તકતી પ્રયત્ન કરવા માટે તમારી માટે અમુક સારા અને મોટાભાગનાં જાણીતા ઍડ-ઓનનો ગુણધર્મ કરશે.
detail-version =
    .label = આવૃત્તિ
detail-last-updated =
    .label = છેલ્લે સુધારેલ
detail-contributions-description = આ ઍડ-ઓનનો ડેવલપર પૂછે છે કે તમે થોડો ફાળો કરીને તેનાં ચાલુ રાખેલ વિકાસમાં આધાર આપવા મદદ કરો છો.
detail-update-type =
    .value = આપોઆપ સુધારાઓ
detail-update-default =
    .label = મૂળભૂત
    .tooltiptext = ફક્ત આપમેળે સુધારાઓને સ્થાપિત કરે જો પેલુ મૂળભૂત હોય
detail-update-automatic =
    .label = ચાલુ
    .tooltiptext = આપમેળે સુધારાઓને સ્થાપિત કરો
detail-update-manual =
    .label = બંધ
    .tooltiptext = આપમેળે સુધારાઓને સ્થાપિત કરો નહિં
detail-home =
    .label = મુખ્યપાનુ
detail-home-value =
    .value = { detail-home.label }
detail-repository =
    .label = ઍડ-ઓન રૂપરેખા
detail-repository-value =
    .value = { detail-repository.label }
detail-check-for-updates =
    .label = સુધારાઓ માટે ચકાસો
    .accesskey = f
    .tooltiptext = આ ઍડ-ઓન માટે સુધારાઓ માટે ચકાસો
detail-show-preferences =
    .label =
        { PLATFORM() ->
            [windows] વિકલ્પો
           *[other] પસંદગીઓ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
    .tooltiptext =
        { PLATFORM() ->
            [windows] આ ઍડ-ઓનનાં વિકલ્પોને બદલો
           *[other] આ ઍડ-ઓનની પસંદગીઓને બદલો
        }
detail-rating =
    .value = મૂલ્યાંકન
addon-restart-now =
    .label = હવે પુન:શરૂ કરો
disabled-unsigned-heading =
    .value = કેટલાક ઍડ-ઑન્સ અક્ષમ કરવામાં આવ્યા છે
disabled-unsigned-description = નીચેના ઍડ-ઑન્સને { -brand-short-name } માં ઉપયોગ કરવા માટે ચકાસણી કરવામાં આવી નથી. તમે કરી શકો છો <label data-l10n-name="find-addons">ફેરબદલી શોધો</label> અથવા ડેવલપરને તેમને ચકાસવા માટે પૂછો.
disabled-unsigned-learn-more = તમને ઓનલાઇન સુરક્ષિત રાખવામાં સહાય કરવાના અમારા પ્રયત્નો વિશે વધુ શીખો.
disabled-unsigned-devinfo = તેમના ઍડ-ઑન્સ ચકાસવામાં રસ ધરાવતા ડેવલપર્સ ચાલુ રાખી શકે છે વાંચીને અમારી <label data-l10n-name="learn-more">મેન્યુઅલ</label>.
plugin-deprecation-description = કંઈક ખૂટે છે? કેટલાક પ્લગિન્સ હવે { -brand-short-name } દ્વારા આધારભૂત નથી. <label data-l10n-name="learn-more">વધુ શીખો.</label>
legacy-warning-show-legacy = જૂના એક્સ્ટેન્શન્સ બતાવો
legacy-extensions =
    .value = જૂના એક્સ્ટેન્શન્સ
legacy-extensions-description = આ એક્સ્ટેન્શન્સ વર્તમાન { -brand-short-name } ધોરણો મળતા નથી જેથી તેઓ નિષ્ક્રિય કરવામાં આવેલ છે. <label data-l10n-name="legacy-learn-more">ઍડ-ઑન્સમાં ફેરફારો વધુ શીખો</label>
extensions-view-discover =
    .name = ઍડ-ઓનને મેળવો
    .tooltiptext = { extensions-view-discover.name }
extensions-view-recent-updates =
    .name = તાજેતરનાં સુધારાઓ
    .tooltiptext = { extensions-view-recent-updates.name }
extensions-view-available-updates =
    .name = ઉપલબ્ધ સુધારાઓ
    .tooltiptext = { extensions-view-available-updates.name }

## These are global warnings

extensions-warning-safe-mode-label =
    .value = બધા ઍડ-ઓન સલામત સ્થિતિ દ્દારા નિષ્ક્રિય કરી દેવામાં આવ્યા છે.
extensions-warning-safe-mode-container =
    .tooltiptext = { extensions-warning-safe-mode-label.value }
extensions-warning-check-compatibility-label =
    .value = ઍડ-ઓન સુસંગતતા ચકાસણી નિષ્ક્રિય થયેલ છે. તમારી પાસે અસુસંગત ઍડ-ઓન હોઇ શકે છે.
extensions-warning-check-compatibility-container =
    .tooltiptext = { extensions-warning-check-compatibility-label.value }
extensions-warning-check-compatibility-enable =
    .label = સક્રિય
    .tooltiptext = ઍડ-ઓન સુસંગતતા ચકાસણીને સક્રિય કરો
extensions-warning-update-security-label =
    .value = ઍડ-ઓન સુધારા સુરક્ષા ચકાસણી નિષ્ક્રિય થયેલ છે. તમારે સુધારાઓ વડે સમાધાન કરી શકો છો.
extensions-warning-update-security-container =
    .tooltiptext = { extensions-warning-update-security-label.value }
extensions-warning-update-security-enable =
    .label = સક્રિય
    .tooltiptext = ઍડ-ઓન સુધારા સુરક્ષા ચકાસણીને સક્રિય કરો

## Strings connected to add-on updates

extensions-updates-check-for-updates =
    .label = સુધારાઓ માટે ચકાસો
    .accesskey = C
extensions-updates-view-updates =
    .label = તાજેતરનાં સુધારાઓને દર્શાવો
    .accesskey = V

# This menu item is a checkbox that toggles the default global behavior for
# add-on update checking.

extensions-updates-update-addons-automatically =
    .label = આપમેળે ઍડ-ઓનને સુધારો
    .accesskey = A

## Specific add-ons can have custom update checking behaviors ("Manually",
## "Automatically", "Use default global behavior"). These menu items reset the
## update checking behavior for all add-ons to the default global behavior
## (which itself is either "Automatically" or "Manually", controlled by the
## extensions-updates-update-addons-automatically.label menu item).

extensions-updates-reset-updates-to-automatic =
    .label = આપમેળે સુધારવા માટે બધા ઍડ-ઓનને પુન:સુયોજિત કરો
    .accesskey = R
extensions-updates-reset-updates-to-manual =
    .label = પોતાની જાતે સુધારવા માટે બધા ઍડ-ઓનને પુન:સુયોજિત કરો
    .accesskey = R

## Status messages displayed when updating add-ons

extensions-updates-updating =
    .value = ઍડ-ઓનને સુધારી રહ્યા છે
extensions-updates-installed =
    .value = તમારા ઍડ-ઓનને સુધારી દેવામાં આવ્યા છે.
extensions-updates-downloaded =
    .value = તમારા ઍડ-ઓન સુધારાઓને ડાઉનલોડ કરી દેવામાં આવ્યા છે.
extensions-updates-restart =
    .label = સ્થાપનને સમાપ્ત કરવા માટે હવે પુન:શરૂ કરો
extensions-updates-none-found =
    .value = સુધારાઓ મળ્યા નથી
extensions-updates-manual-updates-found =
    .label = ઉપલબ્ધ સુધારાઓને દર્શાવો
extensions-updates-update-selected =
    .label = સુધારાઓને સ્થાપિત કરો
    .tooltiptext = આ યાદીમાં ઉપલબ્ધ સુધારાઓને સ્થાપિત કરો
