/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Layout of a runtime sidebar item
 *
 *  +--------+----------------+---------------------------+
 *  | Icon   | Runtime name   | Connect button            |
 *  +--------+----------------+---------------------------+
 */

.sidebar-runtime-item {
  font-size: 0.8em;
  align-items: center;
  display: grid;
  grid-column-gap: var(--base-distance);
  grid-template-columns: 20px 1fr auto;
}

.sidebar-runtime-item__icon {
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline-end: var(--base-distance);
}
