/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.sidebar__devices__message {
  color: var(--grey-40);
  display: inline-block;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}