# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Acerca do { -brand-full-name }
releaseNotes-link = Novidades
update-checkForUpdatesButton =
    .label = Procurar atualizações
    .accesskey = c
update-updateButton =
    .label = Reiniciar para atualizar o { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = A procurar atualizações…
update-downloading = <img data-l10n-name="icon"/>A transferir atualização — <label data-l10n-name="download-status"/>
update-applying = A aplicar atualização…
update-failed = A atualização falhou. <label data-l10n-name="failed-link">Transferir a versão mais recente</label>
update-failed-main = A atualização falhou. <a data-l10n-name="failed-link-main">Transferir a versão mais recente</a>
update-adminDisabled = Atualizações desativadas pelo seu administrador do sistema
update-noUpdatesFound = O { -brand-short-name } está atualizado
update-otherInstanceHandlingUpdates = O { -brand-short-name } já está a ser atualizado por outra instância
update-manual = Atualizações disponíveis em <label data-l10n-name="manual-link"/>
update-unsupported = Não pode realizar mais atualizações neste sistema. <label data-l10n-name="unsupported-link">Saber mais</label>
update-restarting = A reiniciar…
channel-description = Atualmente, está no canal de atualização <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = O { -brand-short-name } é experimental e poderá ser instável.
community-exp = <label data-l10n-name="community-exp-mozillaLink">A { -vendor-short-name }</label> é uma <label data-l10n-name="community-exp-creditsLink">comunidade global</label> que trabalha em conjunto para manter a Web aberta, pública e acessível a todos.
community-2 = O { -brand-short-name } é desenhado pela <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, uma <label data-l10n-name="community-creditsLink">comunidade global</label> que trabalha em conjunto para manter a Web aberta, pública e acessível a todos.
helpus = Pretende ajudar? <label data-l10n-name="helpus-donateLink">Efetue um donativo</label> ou <label data-l10n-name="helpus-getInvolvedLink">participe!</label>
bottomLinks-license = Informação de licenciamento
bottomLinks-rights = Direitos do utilizador final
bottomLinks-privacy = Política de privacidade
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
