# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = عن { -brand-full-name }
releaseNotes-link = ما الجديد
update-checkForUpdatesButton =
    .label = التمس التحديثات
    .accesskey = ت
update-updateButton =
    .label = أعد التشغيل لتحديث { -brand-shorter-name }
    .accesskey = د
update-checkingForUpdates = يلتمس التحديثات…
update-downloading = <img data-l10n-name="icon"/>ينزل التحديث — <label data-l10n-name="download-status"/>
update-applying = يطبّق التحديث…
update-failed = فشل التحديث. <label data-l10n-name="failed-link">نزّل أحدث نسخة</label>
update-failed-main = فشل التحديث. <a data-l10n-name="failed-link-main">نزّل أحدث نسخة</a>
update-adminDisabled = عطّلَ مدير النظام التحديثات
update-noUpdatesFound = { -brand-short-name } مُحدَّث
update-otherInstanceHandlingUpdates = يجري تحديث { -brand-short-name } في سيرورة أخرى
update-manual = التحديثات متاحة في <label data-l10n-name="manual-link"/>
update-unsupported = لا يمكنك إجراء أي تحديثات أخرى على هذا النظام. <label data-l10n-name="unsupported-link">اطّلع على المزيد</label>
update-restarting = يُعيد التشغيل…
channel-description = تتلقى التحديثات حاليًا من قناة <label data-l10n-name="current-channel"></label>.{ " " }
warningDesc-version = { -brand-short-name } تجريبي و قد لا يكون مستقرا.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> هي <label data-l10n-name="community-exp-creditsLink">مجتمعٌ عالميّ</label> يعمل للمحافظة على انفتاح الوب و عموميتها و إتاحتها للجميع.
community-2 = صمّمَ { -brand-short-name } <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>، و هي <label data-l10n-name="community-creditsLink">مجتمعٌ عالميّ</label> يعمل للمحافظة على انفتاح الوب و عموميتها و إتاحتها للجميع.
helpus = هل تُريد المساعدة؟ <label data-l10n-name="helpus-donateLink">تبرّع</label> أو <label data-l10n-name="helpus-getInvolvedLink">شارِك معنا</label>
bottomLinks-license = معلومات الترخيص
bottomLinks-rights = حقوق المستخدم
bottomLinks-privacy = سياسة الخصوصيّة
aboutDialog-architecture-sixtyFourBit = 64 بتة
aboutDialog-architecture-thirtyTwoBit = 32 بتة
