# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } గురించి
releaseNotes-link = కొత్తవి ఏమిటి
update-checkForUpdatesButton =
    .label = తాజాకరణలకై చూడు
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name }‌ను తాజాకరించడానికి పునఃప్రారంభించండి
    .accesskey = R
update-checkingForUpdates = తాజాకరణల కొరకు చూస్తున్నాం…
update-downloading = <img data-l10n-name="icon"/>తాజాకరణను దింపుకుంటోంది — <label data-l10n-name="download-status"/>
update-applying = తాజాకరణను ఆపాదిస్తోంది…
update-failed = తాజాకరణ విఫలమైంది. <label data-l10n-name="failed-link">సరికొత్త వెర్షన్‌ను దింపుకోండి</label>
update-failed-main = తాజాకరణ విఫలమైంది. <a data-l10n-name="failed-link-main">సరికొత్త వెర్షన్‌ను దింపుకోండి</a>
update-adminDisabled = మీ సిస్టమ్ నిర్వహణాధికారి తాజాకరణలను అచేతనం చేసారు
update-noUpdatesFound = { -brand-short-name } తాజాగా ఉంది
update-otherInstanceHandlingUpdates = { -brand-short-name }ను మరో అంశ తాజకరిస్తోంది
update-manual = తాజాకరణలు ఇక్కడ అందుబాటులోవున్నాయి <label data-l10n-name="manual-link"/>
update-unsupported = ఈ వ్యవస్థపై మీరు ఇంకేమీ తాజాకరణలు చెయ్యలేరు. <label data-l10n-name="unsupported-link">ఇంకా తెలుసుకోండి</label>
update-restarting = పునఃప్రారంభమవుతోంది…
channel-description = మీరు ప్రస్తుతం <label data-l10n-name="current-channel"></label> తాజాకరణ ఛానల్‌పై ఉన్నారు.{ " " }
warningDesc-version = { -brand-short-name } ప్రయోగాత్మకమైనది, స్థిరంగా ఉండకపోవచ్చు.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> అనేది <label data-l10n-name="community-exp-creditsLink">ప్రపంచవ్యాప్త సముదాయం</label>. వీరు జాలాన్ని స్వేచ్ఛగా, బహిరంగంగా, అందరికీ అందుబాటులో ఉంచేందుకు కలిసి కృషి చేస్తున్నారు.
community-2 = { -brand-short-name }ను రూపొందించినది <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, వీరు జాలాన్ని స్వేచ్ఛగా, బహిరంగంగా, అందరికీ అందుబాటులో ఉంచేందుకు కలిసి కృషి చేస్తున్న <label data-l10n-name="community-creditsLink">ప్రపంచవ్యాప్త సముదాయం</label> వీరు జాలాన్ని స్వేచ్ఛగా, బహిరంగంగా, అందరికీ అందుబాటులో ఉంచేందుకు కలిసి కృషి చేస్తున్నారు.
helpus = తోడ్పడాలని అనుకుంటున్నారా? <label data-l10n-name="helpus-donateLink">విరాళమివ్వండి</label> లేక <label data-l10n-name="helpus-getInvolvedLink">పాలుపంచుకోండి!</label>
bottomLinks-license = లైసెన్సింగ్ సమాచారం
bottomLinks-rights = అంతిమ-వాడుకరి హక్కులు
bottomLinks-privacy = గోప్యతా విధానం
aboutDialog-architecture-sixtyFourBit = 64-బిట్
aboutDialog-architecture-thirtyTwoBit = 32-బిట్
