# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = O { -brand-full-name }
releaseNotes-link = Što je novo
update-checkForUpdatesButton =
    .label = Provjeri dostupnost dopuna
    .accesskey = j
update-updateButton =
    .label = Ponovno pokrenite za ažuriranje { -brand-shorter-name }a
    .accesskey = R
update-checkingForUpdates = Provjera dopuna…
update-downloading = <img data-l10n-name="icon"/>Preuzimanje dopune — <label data-l10n-name="download-status"/>
update-applying = Primjena dopune…
update-failed = Ažuriranje nije uspjelo. <label data-l10n-name="failed-link">Preuzmite najnoviju inačicu</label>
update-failed-main = Ažuriranje nije uspjelo. <a data-l10n-name="failed-link-main">Preuzmite najnoviju inačicu</a>
update-adminDisabled = Dopune onemogućene od vašeg sistem administratora
update-noUpdatesFound = { -brand-short-name } je ažuriran
update-otherInstanceHandlingUpdates = { -brand-short-name } is being updated by another instance
update-manual = Dopune su dostupne na <label data-l10n-name="manual-link"/>
update-unsupported = Na ovom sustavu više ne možete izvršavati dodatne nadogradnje. <label data-l10n-name="unsupported-link">Saznajte više</label>
update-restarting = Ponovno pokretanje…
channel-description = Trenutno ste na <label data-l10n-name="current-channel"></label> kanalu dopuna.{ " " }
warningDesc-version = { -brand-short-name } je eksperimentalna inačica i može biti nestabilna.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> je <label data-l10n-name="community-exp-creditsLink">globalna zajednica</label> koja nastoji zadržati Web otvorenim, javnim i dostupnim svima.
community-2 = { -brand-short-name } je dizajnirala <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, <label data-l10n-name="community-creditsLink">globalna zajednica</label> koja nastoji zadržati Web otvorenim, javnim i dostupnim svima.
helpus = Želite li pomoći? <label data-l10n-name="helpus-donateLink">Donirajte</label> ili <label data-l10n-name="helpus-getInvolvedLink">uključite se!</label>
bottomLinks-license = Informacije o licenciranju
bottomLinks-rights = Prava krajnjeg korisnika
bottomLinks-privacy = Politika privatnosti
aboutDialog-architecture-sixtyFourBit = 64-bitni
aboutDialog-architecture-thirtyTwoBit = 32-bitni
