# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Circa le utensiles de disveloppamento
enable-title = Activar le Utensiles de disveloppamento de Firefox
enable-inspect-element-title = Activar le Utensiles de disveloppamento de Firefox pro usar Inspicer elemento
enable-inspect-element-message = Examina e redige HTML e CSS le Inspector del utensiles de disveloppamento.
enable-about-debugging-message = Disveloppa e depura WebExtensions, web workers, service workers e plus per le Utensiles de disveloppamento de Firefox.
enable-key-shortcut-message = Tu ha activate un accesso directe al instrumentos de developpator. Si isto esseva un error, tu pote clauder iste scheda.
enable-menu-message = Perfectiona le HTML, CSS, e JavaScript de tu sito web per utensiles como Inspector e Depurator.
enable-common-message = Le Utensiles de disveloppamento de Firefox es disactivate normalmente pro dar te major controlo de tu navigator.
enable-learn-more-link = Apprende plus re le Utensiles del disveloppamento
enable-enable-button = Activar le Utensiles de disveloppamento
enable-close-button = Clauder iste scheda
welcome-title = Benvenite al Utensiles de disveloppamento de Firefox!
newsletter-title = Littera del novas de disveloppamento de Mozilla
newsletter-message = Recipe novas, artificios e ressources de disveloppamento inviate directemente a tu cassa de entrata.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Io consenti con le tractamento per Mozilla de mi informationes como explicate in iste <a data-l10n-name="privacy-policy">Politica de confidentialitate</a>.
newsletter-subscribe-button = Subscriber
newsletter-thanks-title = Gratias!
newsletter-thanks-message = Si tu non habeva antea confirmate un subscription a un newsletter re Mozilla tu pote facer lo. Per favor controla tu cassa de entrata o tu filtro del spam pro un e-posta ab nos.
footer-title = Firefox Developer Edition
footer-message = Cerca tu plus que justo Utensiles de disveloppamento? Controla le navigator Firefox create specificamente pro le disveloppatores e le fluxos de labor moderne.
footer-learn-more-link = Saper plus
features-learn-more = Saper plus
features-inspector-title = Inspector
features-inspector-desc = Inspice e optimisa le codification pro producer dispositiones de pagina perfecte al pixel. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Attrappa errores in le CSS, de JavaScript, de securitate e in rete. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depurator
features-debugger-desc = Depurator JavaScript potente compatibile con tu framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rete
features-network-desc = Controla le requestas de rete que pote relentar o blocar tu sito. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Immagazinage
features-storage-desc = Adde, modifica e remove cache, cookies, bases de datos e datos de session. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modo de designo responsive
features-responsive-desc = Testa le sitos sur apparatos simulate in tu navigator. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edition visual
features-visual-editing-desc = Optimisa le animationes, le alineamento e le margines. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rendimento
features-performance-desc = Disbloca le collos de bottilia, simplifica le processos, optimisa le ressources. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Trova le perditas de memoria e rende fulminee tu application. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Le demanda de abonamento es fallite ({ $errorDescription }).
newsletter-error-unknown = Un error non attendite occurreva.
newsletter-error-timeout = Le demanda de abonamento es expirate.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Tu ha activate con successo Utensiles de disveloppamento! Pro comenciar, explora le menu de Disveloppator de web o aperi le utensiles per { $shortcut }.
