# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = डेव्हलपर साधनांबद्दल
enable-title = Firefox डेव्हलपर साधने कार्यान्वयीत करा
enable-learn-more-link = विकसक साधनांनबद्दल अधिक जाणून घ्या
enable-enable-button = डेव्हलपर साधने कार्यान्वयीत करा
enable-close-button = हा टॅब बंद करा
welcome-title = Firefox डेव्हलपर साधनामध्ये आपले स्वागत आहे!
newsletter-title = Mozilla डेव्हलपर बातमीपत्र
newsletter-message = डेवलपर्स बातम्या, युक्ति व संसाधने मिळवा थेट आपल्या इनबॉक्समध्ये.
newsletter-email-placeholder =
    .placeholder = ईमेल
newsletter-subscribe-button = सभासद व्हा
newsletter-thanks-title = धन्यवाद!
newsletter-thanks-message = आपण जर याआधी Mozilla संबंधित बातमीपत्राचे सभासदत्व नक्की केले नसेल तर आपल्याला ते करावे लागेल. आपला इनबॉक्स किंवा स्पॅम वर्गिक्रूत मेल्स मध्ये क्रुपया आमचा ई-मेल तपासा.
footer-title = Firefox डेव्हलपर आवृत्ती
footer-learn-more-link = आणखी जाणा
features-learn-more = आणखी जाणा
features-inspector-title = निरीक्षक
features-inspector-desc = सूक्ष्मातीसूक्ष्म पातळीवर परिपूर्ण रचना बनवण्यासाठी कोड तपासा व शुद्ध करा. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = कंसोल
features-console-desc = CSS, JavaScript, सुरक्षा आणि नेटवर्क समस्यांचा मागोवा घ्या. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = डीबगर
features-debugger-desc = आपल्या फ्रेमवर्कसाठी समर्थनासह सामर्थ्यवान JavaScript डीबगर. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = नेटवर्क
features-network-desc = आपल्या साइटवर मंद किंवा अवरोधित करणाऱ्या नेटवर्क विनंत्यांचे परीक्षण करा. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = साठा
features-storage-desc = कॅश, कुकीज, डेटाबेस आणि सत्र डेटा जोडा, सुधारित करा आणि काढा. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = रेसपाँसिव्ह डिजाइन मोड
features-responsive-desc = आपल्या ब्राउझरमधून इम्युलेट केलेल्या उपकरणांवर साइटची चाचणी घ्या. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = दृश्य संपादन
features-performance-title = कार्यक्षमता
features-performance-desc = अडथळे काढून टाका, प्रक्रिया सुलभ करा, मालमत्ता ऑप्टीमाइझ करा. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = मेमरी
features-memory-desc = मेमरी गळती शोधा आणि आपल अॅपलिकेशन जलद करा. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = सदस्यता विनंती अयशस्वी ({ $errorDescription }).
newsletter-error-unknown = एक अनपेक्षित त्रुटी आली.
newsletter-error-timeout = सदस्यता विनंती कालबाह्य झाली.
