# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Acerca das ferramentas de programador
enable-title = Ativar ferramentas de programador do Firefox
enable-inspect-element-title = Ativar ferramentas de programador do Firefox para utilizar Inspecionar elemento
enable-inspect-element-message = Examine e edite HTML e CSS com o inspetor das ferramentas de programador.
enable-about-debugging-message = Programe e depure WebExtensions, web workers, service workers e mais com as ferramentas de programador do Firefox.
enable-key-shortcut-message = Ativou um atalho das ferramentas de programador. Se foi um engano, pode fechar este separador.
enable-menu-message = Aperfeiçoe o HTML, CSS, e JavaScript do seu website com ferramentas como o Inspetor e Depurador.
enable-common-message = As ferramentas de programador do Firefox estão desativadas por predefinição para lhe dar mais controlo sobre o seu navegador.
enable-learn-more-link = Saber mais acerca das ferramentas de programador
enable-enable-button = Ativar ferramentas de programador
enable-close-button = Fechar este separador
welcome-title = Bem-vindo(a) às ferramentas de programador do Firefox!
newsletter-title = Newsletter Mozilla Developer
newsletter-message = Obtenha noticias de programador, truques e recursos enviados diretamente para a sua caixa de entrada.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Estou bem com a Mozilla manusear a minha informação como explicado nesta <a data-l10n-name="privacy-policy">Política de privacidade</a>.
newsletter-subscribe-button = Subscrever
newsletter-thanks-title = Obrigado!
newsletter-thanks-message = Se não confirmou previamente uma subscrição a uma newsletter relacionada com a Mozilla, pode ter de o fazer. Por favor verifique a sua caixa de entrada ou o seu filtro de spam por um email nosso.
footer-title = Firefox Developer Edition
footer-message = À procura de mais do que ferramentas de programador? Confira o navegador Firefox que é construído especificamente para programadores e fluxos de trabalho modernos.
footer-learn-more-link = Saber mais
features-learn-more = Saber mais
features-inspector-title = Inspetor
features-inspector-desc = Inspecione e melhore o código para construir layouts perfeitamente definidos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Identifique problemas de CSS, JavaScript, segurança e de rede. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depurador
features-debugger-desc = Um potente depurador de JavaScript com suporte para a sua framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rede
features-network-desc = Monitorize pedidos de rede que possam tornar lento ou bloquear o seu site. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Armazenamento
features-storage-desc = Adicione, modifique e remova cache, cookies, bases de dados e de dados de sessão. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modo de design responsivo
features-responsive-desc = Teste sites em dispositivos emulados no seu navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edição visual
features-visual-editing-desc = Afine animações, alinhamentos e espaçamentos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Desempenho
features-performance-desc = Desbloqueie atrasos, simplifique processos, otimize recursos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memória
features-memory-desc = Encontre fugas de memória e torne a sua aplicação estanque. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = A solicitação de subscrição falhou ({ $errorDescription }).
newsletter-error-unknown = Ocorreu um erro inesperado.
newsletter-error-timeout = A solicitação de subscrição expirou.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Ativou as ferramentas de programador com sucesso! Para começar, explore o menu de Programador Web ou abra as ferramentas com { $shortcut }.
