# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Mboguatahára rembipuru rehegua
enable-title = Embojuruja Firefox mboguatahára rembipuru
enable-inspect-element-title = Embojuruja Firefox mboguatahára rembipuru eipuru hag̃ua moambuekuaaha mba'epurúpe
enable-inspect-element-message = Ehechakatu ha embosako'i HTML ha CSS mboguatahára rembipuru mbohekohápe.
enable-about-debugging-message = Emboguata ha emopitĩ WebExtensions, web workers, service workers ha hetave Firefox mboguatahára rembipuru ndive.
enable-key-shortcut-message = Emyendy jeike pya'eha mboguataha rembipurúpe. Ojavy mba'éramo, ikatu emboty ko tendayke.
enable-menu-message = Emoañete HTML, CSS ha JavaScript ne ñanduti rendápe tembipuru mbohekoha ha mopotĩháramo.
enable-common-message = Firefox mboguatahára rembipuru oñembotýma ojipykue rupi oma'ẽag̃uive hag̃ua ne kundahára rehe.
enable-learn-more-link = Eikuaave mboguatahára rembipuru rehegua
enable-enable-button = Embojuruja mboguatahára rembipuru
enable-close-button = Emboty ko tendayke
welcome-title = ¡Tereg̃uahẽporãite Firefox mboguatahára rembipurúpe!
newsletter-title = Mozilla Mboguatahára kuatiahai
newsletter-message = Embyaty marandu,ñembosarái ha opa mba'e mboguatahára rehegua neñe'ë vevetépe
newsletter-email-placeholder =
    .placeholder = Ñanduti veve
newsletter-privacy-label = Amoneĩ Mozilla-pe ohechávo che mba'ekuarã omyesakãháicha <a data-l10n-name="privacy-policy">Temiñemi purureko</a>.
newsletter-subscribe-button = Eñemboheraguapy
newsletter-thanks-title = ¡Aguyje!
newsletter-thanks-message = Neremoneĩramo gueteri ñemboheraguapy Mozilla reheguáva, ikatu hína ejapova'erã katuete péva. Ikatú piko ehchajey oúmapa ñanduti veve g̃uahẽháme térãpa oĩ ñanduti veve ytyguáva mboguahápe.
footer-title = Firefox Developer Edition
footer-message = ¿Ehekave mboguatahára rembipuru? Ehechajey Firefox kundahára ojejapoha mboguatahárape g̃uarã añoite ha umi mba'eapo tembiapo ag̃aguáva rehegua.
footer-learn-more-link = Eikuaave
features-learn-more = Kuaave
features-inspector-title = Moambuekuaaha
features-inspector-desc = Ema'ẽag̃ui ha emoĩporã ayvu ejapo hag̃ua moha'ãnga oikóva. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Mba'e'oka
features-console-desc = Ehapykueho CSS, JavaScript, tekorosã ha ñanduti apañuãi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Mopotĩha
features-debugger-desc = Mopotĩha mbarete JavaScript ojokóva ne framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Ñanduti
features-network-desc = Ema'ẽke umi ñanduti mba'ejerure rehe ikatúva ojoko térã omombegue ko tenda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Ñembyatyha
features-storage-desc = Embojuaju, emoambue térã embogue kache, kookie, marandu mba'ekuaarã renda ha tembiapo rehegua. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Moha'ãnga iñambuekuaáva reko
features-responsive-desc = Eipuru umi tenda mba'e'oka pegua oha'ãva kundahápe. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Ñembosako'i jehecháva
features-visual-editing-desc = Eha'ã umi mbovy'aha, mboysýi ha myenyhẽha. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Apopyre
features-performance-desc = Embojera pa'ã renda, emyatyrõ mba'eapo ha eipurukuaa mba'epirã. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Mandu'arenda
features-memory-desc = Ejuhu mandu'arenda kañymby ha eguerekóta tembipuru'i ipya'éva. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Ne mba'e jerure ojavy ({ $errorDescription }).
newsletter-error-unknown = Oiko jejavy ñeha'arõ'ỹva
newsletter-error-timeout = Opáma ndehegui aravo eñemboheraguapy hag̃ua.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = ¡Emyandy hendaitépe mboguatahára rembipuru! Eñepyrũvo, ehapykueho ñanduti mboguatahára menu térã eike { $shortcut } rembipurúpe.
