# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Informazioni su { -brand-full-name }
releaseNotes-link = Novità
update-checkForUpdatesButton =
    .label = Controlla aggiornamenti
    .accesskey = C
update-updateButton =
    .label = Riavvia per aggiornare { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Ricerca aggiornamenti…
update-downloading = <img data-l10n-name="icon"/>Download aggiornamento — <label data-l10n-name="download-status"/>
update-applying = Installazione aggiornamento…
update-failed = Aggiornamento non riuscito. <label data-l10n-name="failed-link">Scarica l’ultima versione</label>
update-failed-main = Aggiornamento non riuscito. <a data-l10n-name="failed-link-main">Scarica l’ultima versione</a>
update-adminDisabled = Aggiornamenti disattivati dall’amministratore di sistema
update-noUpdatesFound = { -brand-short-name } è aggiornato
update-otherInstanceHandlingUpdates = Aggiornamento di { -brand-short-name } in corso in un’altra istanza
update-manual = Aggiornamenti disponibili su <label data-l10n-name="manual-link"/>
update-unsupported = Non è possibile installare ulteriori aggiornamenti su questo sistema. <label data-l10n-name="unsupported-link">Ulteriori informazioni</label>
update-restarting = Riavvio…
channel-description = Canale di aggiornamento attuale: <label data-l10n-name="current-channel"></label>.
warningDesc-version = { -brand-short-name } è una versione sperimentale e potrebbe risultare instabile.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> è una <label data-l10n-name="community-exp-creditsLink">comunità mondiale</label> che lavora per mantenere il Web aperto, pubblico e accessibile a tutti.
community-2 = { -brand-short-name } è progettato da <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, una <label data-l10n-name="community-creditsLink">comunità mondiale</label> che lavora per mantenere il Web aperto, pubblico e accessibile a tutti.
helpus = Vuoi aiutarci? <label data-l10n-name="helpus-donateLink">Fai una donazione</label> o <label data-l10n-name="helpus-getInvolvedLink">collabora con noi</label>
bottomLinks-license = Informazioni sulla licenza
bottomLinks-rights = Diritti dell’utente finale
bottomLinks-privacy = Informativa sulla privacy
aboutDialog-architecture-sixtyFourBit = 64 bit
aboutDialog-architecture-thirtyTwoBit = 32 bit
