# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = O nástrojích pro vývojáře
enable-title = Povolit nástroje pro vývojáře
enable-inspect-element-title = Povolit nástroje pro vývojáře a prozkoumat prvek
enable-inspect-element-message = Zkoumejte a upravovujte HTML a CSS pomocí průzkumníku v nástrojích pro vývojáře.
enable-about-debugging-message = S nástroji pro vývojáře můžete ve Firefoxu vyvíjet a ladit doplňky, WebExtensions, web a service workers a další.
enable-key-shortcut-message = Aktivovali jste zkratku pro otevření vývojářských nástrojů. Pokud to bylo nechtěně, můžete tento panel zavřít.
enable-menu-message = Vypilujte HTML, CSS a JavaScript na svých webových stránkách pomocí nástrojů pro vývojáře jako průzkumník nebo debugger.
enable-common-message = Vývojářské nástroje jsou ve výchozím stavu ve Firefoxu vypnuty pro vaši větší kontrolu nad funkcemi prohlížeče.
enable-learn-more-link = Zjistit více o nástrojích pro vývojáře
enable-enable-button = Povolit nástroje pro vývojáře
enable-close-button = Zavřít tento panel
welcome-title = Vítají vás nástroje pro vývojáře!
newsletter-title = Zpravodaj Mozilly pro vývojáře
newsletter-message = Nechte si posílat vývojářské novinky, triky a zdroje přímo do vaší schránky.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Souhlasím s tím, aby Mozilla zpracovávala mé informace tak, jak je popsáno v <a data-l10n-name="privacy-policy">zásadách ochrany osobních údajů</a>.
newsletter-subscribe-button = Odebírat
newsletter-thanks-title = Děkujeme!
newsletter-thanks-message = Pokud jste dříve nepotvrdili odběr zpravodaje Mozilly, budete tak muset učinit nyní. Podívejte se prosím do vaší e-mailové schránky a případně i nevyžádané pošty, jestli tam není e-mail od nás.
footer-title = Firefox Developer Edition
footer-message = Hledáte více než jenom nástroje pro vývojáře? Vyzkoušejte verzi Firefoxu speciálně pro vývojáře a jejich pracovní postupy.
footer-learn-more-link = Zjistit více
features-learn-more = Zjistit více
features-inspector-title = Průzkumník
features-inspector-desc = Zkoumejte a upravujte kód pro na pixel přesné rozložení. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konzole
features-console-desc = Sledujte CSS, JavaScript a bezpečnostní a síťové problémy. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Výkonný JavaScriptový debugger s podporou pro váš framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Síť
features-network-desc = Sledujte síťové požadavky, které zpomalují nebo blokují vaši stránku. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Úložiště
features-storage-desc = Přidávejte, upravujte nebo promazávejte cookies, mezipaměť, databáze a data relací. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Režim responzivního designu
features-responsive-desc = Otestujte své stránky na emulátoru zařízení přímo v prohlížeči. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizuální úpravy
features-visual-editing-desc = Vylaďte animace, zarovnání a odsazení. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Výkon
features-performance-desc = Odhalte problematická místa, zjednodušte procesy a optimalizujte assety. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Paměť
features-memory-desc = Odhalte úniky paměti a zrychlete svou aplikaci. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Požadavek pro přihlášení odběru selhal ({ $errorDescription }).
newsletter-error-unknown = Došlo k neočekávané chybě.
newsletter-error-timeout = Vypršel časový limit požadavku pro přihlášení odběru.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Úspěšně jste zapnuli nástroje pro vývojáře. Pro začátek prozkoumejte nabídku Vývoj webu nebo otevřete nástroje pomocí zkratky { $shortcut }.
