# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } පිළිබඳ
releaseNotes-link = නවතම දේ
update-checkForUpdatesButton =
    .label = යාවත්කාලීන සඳහා පිරික්සන්න
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } යාවත් කිරීමට යළි අරබන්න
    .accesskey = R
update-checkingForUpdates = යාවත්කාලීන සඳහා පරීක්ෂා කරයි…
update-downloading = <img data-l10n-name="icon"/>යාවත්කාලීන බාගත කරයි— <label data-l10n-name="download-status"/>
update-applying = යාවත්කාලීන යොදමින්…
update-failed = යාවත්කාලීන කිරීම අසාර්ථක විය. <label data-l10n-name="failed-link">නවතම අනුවාදය බාගන්න</label>
update-failed-main = යාවත්කාලීන කිරීම අසාර්ථක විය. <a data-l10n-name="failed-link-main">නවතම අනුවාදය බාගන්න</a>
update-adminDisabled = පද්ධති පරිපාලක විසින් යාවත්කාලීන කිරීම අබල (disable) කර ඇත
update-noUpdatesFound = { -brand-short-name } යාවත්කාලීනයි
update-otherInstanceHandlingUpdates = බාහිරව ක්‍රියාකාරිත්වයක් මඟින් { -brand-short-name } යාවත් වී ඇත.
update-manual = මෙහි යාවත්කාලීන තිබේ <label data-l10n-name="manual-link"/>
update-unsupported = ඔබට මෙම පද්ධතිය මත තවත් යාවත් කිරීම් සිදු කළ නොහැක. <label data-l10n-name="unsupported-link">තවත් දැනගන්න</label>
update-restarting = නැවත අරඹමින්…
channel-description = You are currently on the <label data-l10n-name="current-channel"></label> update channel.
warningDesc-version = { -brand-short-name } පරීක්ෂාත්මක සහ ඇතැම් විට අස්ථායි තත්වයෙන් පවතී.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> යනු <label data-l10n-name="community-exp-creditsLink">ගෝලීය ප්‍රජාවකි</label> එය අන්තර්ජාලය විවෘත, පොදු, සහ සියල්ලන්ටම ප්‍රවේශ වීමට හැකි ලෙස පවත්වා ගැනීමට එක්ව වැඩ කරයි.
community-2 = { -brand-short-name } නිර්මාණය කරන ලද්දේ <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, a <label data-l10n-name="community-creditsLink">ගෝලීය ප්‍රජාව</label>අන්තර්ජාලය විවෘත, පොදු, සහ සියල්ලන්ටම ප්‍රවේශ වීමට හැකි ලෙස පවත්වා ගැනීමට එක්ව වැඩ කරන්නෙමු.
helpus = උදව් දීමට කැමති ද? <label data-l10n-name="helpus-donateLink">පරිත්‍යාග කරන්න</label> හෝ <label data-l10n-name="helpus-getInvolvedLink">සම්බන්ධ වන්න!</label>
bottomLinks-license = බලපත්‍ර තොරතුරු
bottomLinks-rights = පරිශීලක අයිතීන්
bottomLinks-privacy = පෞද්ගලිකත්ව ප්‍රතිපත්තිය
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
