# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Oer ûntwikkelersark
enable-title = Firefox-ûntwikkelersark ynskeakelje
enable-inspect-element-title = Skeakel Firefox-ûntwikkelersark yn om Elemint ynspektearje te brûken
enable-inspect-element-message = Bestudearje en bewurkje HTML en CSS mei de Inspector fan it ûntwikkelersark.
enable-about-debugging-message = Untwikkel en debug WebExtensions, web workers, service workers en mear mei it Firefox-ûntwikkelersark.
enable-key-shortcut-message = Jo hawwe in fluchkeppeling fan it ûntwikkelersark aktivearre. As dat net de bedoeling wie, kinne jo dit ljepblêd slute.
enable-menu-message = Optimalisearje HTML, CSS en JavaScript fan jo website mei ark lykas de Inspector en Debugger.
enable-common-message = Firefox-ûntwikkelersark is standert útskeakele, sadat jo mear kontrôle hawwe oer jo browser.
enable-learn-more-link = Lês mear oer Untwikkelersark
enable-enable-button = Untwikkelersark ynskeakelje
enable-close-button = Dit ljepblêd slute
welcome-title = Wolkom by Firefox Developer Tools!
newsletter-title = Mozilla Developer nijsbrief
newsletter-message = Untfang ûntwikkelersnijs, trúks en helpboarnen streekrjocht yn jo Postfek YN.
newsletter-email-placeholder =
    .placeholder = E-mailadres
newsletter-privacy-label = Ik bin it iens mei hoe't jo mei dizze gegevens omgeane, lykas útlein yn jo <a data-l10n-name="privacy-policy">privacybelied</a>.
newsletter-subscribe-button = Abonnearje
newsletter-thanks-title = Tank!
newsletter-thanks-message = As jo noch net earder in ynskriuwing foar in Mozilla-relatearre nijsbrief befêstige hawwe, moatte jo dit mooglik dwaan. Kontrolearje jo Postfek YN of jo spamfilter foar in e-mail fan ús.
footer-title = Firefox Developer Edition
footer-message = Sykje jo mear as allinnich ûntwikkelersark? Probearje de Firefox-browser dy't spesifyk boud is foar ûntwikkelers en moderne wurkstreamen.
footer-learn-more-link = Mear ynfo
features-learn-more = Mear ynfo
features-inspector-title = Inspector
features-inspector-desc = Ynspektearje en ferfynje koade om pixel-perfekte lay-outs te meitsjen. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsole
features-console-desc = Kontrolearje CSS, JavaScript, feilichheid en netwurkproblemen. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Krêftige JavaScript-debugger mei stipe foar jo framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Netwurk
features-network-desc = Monitor netwurkfersiken dy't jo website fertraagje of blokkearje. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Unthâld
features-storage-desc = Foegje ta, bewurkje en smyt buffer, cookies, databases en sesjegegevens fuort. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Responsive Design-modus
features-responsive-desc = Test websites op emulearre apparaten yn jo browser. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Fisuele bewurking
features-visual-editing-desc = Animaasjes, rjochtsjen en padding bywurkje. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Prestaasjes
features-performance-desc = Iepenje fûken, streamlynje prosessen, optimalisearje ûnderdielen. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Unthâld
features-memory-desc = Fyn ûnthâldlekken en meitsje jo applikaasje pittich. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Oanmeldfersyk mislearre ({ $errorDescription }).
newsletter-error-unknown = Der is in ûnferwachte flater bard.
newsletter-error-timeout = Oanmeldfersyk ferrûn.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Jo hawwe mei sukses ûntwikkelersark ynskeakele! Untdek it Webûntwikkelmenu of iepenje it ark mei { $shortcut } om te starten.
