# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Malunga ne-{ -brand-full-name }
releaseNotes-link = Yintoni entsha
update-checkForUpdatesButton =
    .label = Khangela izihlaziyi
    .accesskey = K
update-updateButton =
    .label = Phinda uqale ukuze uqalise i-{ -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Ikhangela izihlaziyi…
update-downloading = <img data-l10n-name="icon"/>Ikhuphela isihlaziyi — <label data-l10n-name="download-status"/>
update-applying = Ukwenza uhlaziyo…
update-failed = Uhlaziyo aluphumelelanga. <label data-l10n-name="failed-link">Khuphela inguqulelo yamva</label>
update-failed-main = Uhlaziyo aluphumelelanga. <a data-l10n-name="failed-link-main">Khuphela inguqulelo yamva</a>
update-adminDisabled = Uhlaziyo lurhoxiswe ngumlawuli wekhompyutha yakho
update-noUpdatesFound = I-{ -brand-short-name } igqibelele
update-otherInstanceHandlingUpdates = I-{ -brand-short-name } iyahlaziywa ngelinye ithuba
update-manual = Uhlaziyo lufumaneka <label data-l10n-name="manual-link"/>
update-unsupported = Akunakukwazi ukuhlaziya ngokubhekele phaya kule nkqubo. <label data-l10n-name="unsupported-link">Funda okungakumbi</label>
update-restarting = Iyaqala kwakhona…
channel-description = Ngoku ukwi <label data-l10n-name="current-channel"></label> ukwitshaneli yohlaziyo.{ " " }
warningDesc-version = I-{ -brand-short-name } isekelwe kumboniso kwaye isenokungazinzi.
community-exp = <label data-l10n-name="community-exp-mozillaLink">I-{ -vendor-short-name }</label> yi <label data-l10n-name="community-exp-creditsLink">lwehlabathi</label>  olusebenza kunye ukugcina iWebhu ivulekile, iyeyomntu wonke kwaye ifikelela kuye wonke umntu.
community-2 = I-{ -brand-short-name } iyilwe <label data-l10n-name="community-mozillaLink">I-{ -vendor-short-name }</label>, a<label data-l10n-name="community-creditsLink">uluntu lwehlabathi jikelele</label> olusebenza kunye ukugcina iWebhu ivulekile, iyeyomntu wonke kwaye ifikelela kuye wonke umntu.
helpus = Ufuna ukunceda?<label data-l10n-name="helpus-donateLink">Nika  isipho</label> okanye <label data-l10n-name="helpus-getInvolvedLink">zibandakanye!</label>
bottomLinks-license = Inkcazelo yonikezelo lwephepha-mvume
bottomLinks-rights = Amalungelo omsebenzisi-mveliso
bottomLinks-privacy = Umgaqo-nkqubo Wabucala
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
