/* vim:set ts=2 sw=2 sts=2 et: */
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Variable declarations for light and dark devtools themes.
 * Colors are taken from:
 * https://developer.mozilla.org/en-US/docs/Tools/DevToolsColors.
 */

/*
 * IMPORTANT NOTE
 * This file is parsed in js (see client/shared/theme.js)
 * so the formatting should be consistent (i.e. no '}' inside a rule).
 */

:root.theme-light {
  --theme-body-background: white;
  --theme-sidebar-background: white;
  --theme-contrast-background: #e6b064;

  /* Toolbar */
  --theme-tab-toolbar-background: var(--grey-10);
  --theme-toolbar-background: var(--grey-10);
  --theme-toolbar-color: var(--grey-90);
  --theme-toolbar-photon-icon-color: var(--grey-90-a80);
  --theme-toolbar-selected-color: var(--blue-60);
  --theme-toolbar-checked-color: var(--blue-60);
  --theme-toolbar-highlighted-color: var(--green-60);
  --theme-toolbar-background-hover: rgba(221, 225, 228, 0.66);
  --theme-toolbar-background-alt: #f5f5f5;
  --theme-toolbar-hover: var(--grey-20);
  --theme-toolbar-hover-active: var(--grey-20);

  /* Selection */
  --theme-selection-background: var(--blue-55);
  --theme-selection-background-hover: #F0F9FE;
  --theme-selection-focus-background: var(--toolbarbutton-hover-background);
  --theme-selection-focus-color: var(--grey-70);
  --theme-selection-color: #ffffff;

  /* Border color that splits the toolbars/panels/headers. */
  --theme-splitter-color: var(--grey-25);
  --theme-emphasized-splitter-color: var(--grey-30);
  --theme-emphasized-splitter-color-hover: var(--grey-40);

  /* Text color */
  --theme-comment: var(--grey-50);
  --theme-comment-alt: var(--grey-40);
  --theme-body-color: var(--grey-60);
  --theme-body-color-alt: var(--grey-50);
  --theme-body-color-inactive: var(--grey-40);
  --theme-content-color1: var(--grey-80);
  --theme-content-color2: var(--grey-60);
  --theme-content-color3: var(--grey-45);

  --theme-highlight-green: var(--green-70);
  --theme-highlight-blue: var(--blue-55);
  --theme-highlight-purple: var(--blue-70);
  --theme-highlight-red: var(--magenta-65);
  --theme-highlight-yellow: #FFF89E;

  /* These theme-highlight color variables have not been photonized. */
  --theme-highlight-bluegrey: #0072ab;
  --theme-highlight-lightorange: #d97e00;
  --theme-highlight-orange: #f13c00;
  --theme-highlight-pink: #b82ee5;
  --theme-highlight-gray: #dde1e4;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline-color: #000000;

  /* Colors used in Graphs, like performance tools. Similar colors to Chrome's timeline. */
  --theme-graphs-green: #85d175;
  --theme-graphs-blue: #83b7f6;
  --theme-graphs-bluegrey: #0072ab;
  --theme-graphs-purple: #b693eb;
  --theme-graphs-yellow: #efc052;
  --theme-graphs-orange: #d97e00;
  --theme-graphs-red: #e57180;
  --theme-graphs-grey: #cccccc;
  --theme-graphs-full-red: #f00;
  --theme-graphs-full-blue: #00f;

  /* Icon filters */
  --theme-icon-checked-filter: url(chrome://devtools/skin/images/filters.svg#icon-checked-light);

  /* Common popup styles(used by HTMLTooltip and autocomplete) */
  --theme-popup-background: -moz-field;
  --theme-popup-color: -moz-fieldText;
  --theme-popup-border-color: ThreeDShadow;
  --theme-popup-dimmed: hsla(0,0%,80%,.3);

  --theme-messageCloseButtonFilter: invert(0);
}

/*
 * For doorhangers elsewhere in Firefox, Mac uses fixed colors rather than
 * system colors.
 */
:root[platform="mac"].theme-light {
  --theme-popup-background: hsla(0,0%,99%,.975);
  --theme-popup-color: hsl(0,0%,10%);
  --theme-popup-border-color: hsla(210,4%,10%,.05);
}

:root.theme-dark {
  --theme-body-background: var(--grey-80);
  --theme-sidebar-background: var(--grey-85);
  --theme-contrast-background: #ffb35b;

  /* Toolbar */
  --theme-tab-toolbar-background: var(--grey-90);
  --theme-toolbar-background: var(--grey-85);
  --theme-toolbar-color: var(--grey-40);
  --theme-toolbar-photon-icon-color: var(--grey-40);
  --theme-toolbar-selected-color: white;
  --theme-toolbar-checked-color: #75BFFF;
  --theme-toolbar-highlighted-color: var(--green-50);
  --theme-toolbar-background-hover: #20232B;
  --theme-toolbar-background-alt: var(--grey-85);
  --theme-toolbar-hover: #252526;
  --theme-toolbar-hover-active: #252526;

  /* Selection */
  --theme-selection-background: #204E8A;
  --theme-selection-background-hover: #353B48;
  --theme-selection-focus-background: var(--grey-60);
  --theme-selection-focus-color: var(--grey-30);
  --theme-selection-color: #ffffff;

  /* Border color that splits the toolbars/panels/headers. */
  --theme-splitter-color: #3c3c3d;
  --theme-emphasized-splitter-color: var(--grey-60);
  --theme-emphasized-splitter-color-hover: var(--grey-50);

  /* Text color */
  --theme-comment: var(--grey-45);
  --theme-comment-alt: var(--grey-50);
  --theme-body-color: var(--grey-40);
  --theme-body-color-alt: var(--grey-45);
  --theme-body-color-inactive: var(--grey-50);
  --theme-content-color1: var(--grey-30);
  --theme-content-color2: var(--grey-40);
  --theme-content-color3: var(--grey-55);

  --theme-highlight-green: #86DE74;
  --theme-highlight-blue: #75BFFF;
  --theme-highlight-purple: #B98EFF;
  --theme-highlight-red: #FF7DE9;
  --theme-highlight-yellow: #FFF89E;

  /* These theme-highlight color variables have not been photonized. */
  --theme-highlight-bluegrey: #5e88b0;
  --theme-highlight-lightorange: #d99b28;
  --theme-highlight-orange: #d96629;
  --theme-highlight-pink: #df80ff;
  --theme-highlight-gray: #e9f4fe;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline-color: #ced3d9;

  /* Colors used in Graphs, like performance tools. Mostly similar to some "highlight-*" colors. */
  --theme-graphs-green: #70bf53;
  --theme-graphs-blue: #46afe3;
  --theme-graphs-bluegrey: #5e88b0;
  --theme-graphs-purple: #df80ff;
  --theme-graphs-yellow: #d99b28;
  --theme-graphs-orange: #d96629;
  --theme-graphs-red: #eb5368;
  --theme-graphs-grey: #757873;
  --theme-graphs-full-red: #f00;
  --theme-graphs-full-blue: #00f;

  /* Icon filters */
  --theme-icon-checked-filter: url(chrome://devtools/skin/images/filters.svg#icon-checked-dark);

  /* Common popup styles(used by HTMLTooltip and autocomplete) */
  --theme-popup-background: var(--grey-60);
  --theme-popup-color: rgb(249,249,250);
  --theme-popup-border-color: #27272b;
  --theme-popup-dimmed: rgba(249,249,250,.1);

  --theme-messageCloseButtonFilter: invert(1);
}

:root {
  --theme-focus-border-color-textbox: #0675d3;
  --theme-textbox-box-shadow: rgba(97,181,255,.75);

  /* Text sizes */
  --theme-body-font-size: 11px;
  --theme-code-font-size: 11px;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline: 1px dotted var(--theme-focus-outline-color);
  --theme-focus-box-shadow-textbox: 0 0 0 1px var(--theme-textbox-box-shadow);

  --toolbarbutton-background: var(--theme-toolbar-hover);
  --toolbarbutton-border-color: transparent;
  --toolbarbutton-hover-background: var(--theme-toolbar-hover);
  --toolbarbutton-hover-border-color: var(--toolbarbutton-border-color);
  --toolbarbutton-focus-background: var(--theme-selection-focus-background);
  --toolbarbutton-focus-color: var(--theme-selection-focus-color);
  --toolbarbutton-checked-background: var(--theme-selection-background);
  --toolbarbutton-checked-color: var(--theme-selection-color);
  --toolbarbutton-checked-border-color: var(--toolbarbutton-border-color);
  --toolbarbutton-checked-focus-background: var(--blue-60);

  /* The photon animation curve */
  --animation-curve: cubic-bezier(.07,.95,0,1);

  /* Images */
  --select-arrow-image: url(chrome://devtools/skin/images/select-arrow.svg);
  --theme-pane-collapse-image: url(chrome://devtools/skin/images/pane-collapse.svg);
  --theme-pane-expand-image: url(chrome://devtools/skin/images/pane-expand.svg);
  --theme-console-alert-image: url(chrome://devtools/skin/images/webconsole/alert.svg);
  --theme-console-navigation-image: url(chrome://devtools/skin/images/webconsole/globe.svg);
  --theme-console-info-image: url(chrome://devtools/skin/images/webconsole/info.svg);
  --theme-console-input-image: url(chrome://devtools/skin/images/webconsole/input.svg);
  --theme-console-return-image: url(chrome://devtools/skin/images/webconsole/return.svg);
  --theme-console-jump-image: url(chrome://devtools/skin/images/webconsole/jump.svg);

  /* Firefox Colors CSS Variables v1.0.3
   * Colors are taken from: https://github.com/FirefoxUX/design-tokens
   * Some intermediate colors were added (names ending in '5').
   */
  --magenta-50: #ff1ad9;
  --magenta-65: #dd00a9;
  --magenta-70: #b5007f;

  --purple-50: #9400ff;
  --purple-60: #8000d7;

  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-55: #0074e8;
  --blue-60: #0060df;
  --blue-70: #003eaa;

  --teal-60: #00c8d7;
  --teal-70: #008ea4;

  --red-70: #a4000f;

  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;

  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-80: #715100;

  --grey-10: #f9f9fa;
  --grey-20: #ededf0;
  --grey-25: #e0e0e2;
  --grey-30: #d7d7db;
  --grey-30-a40: rgba(215, 215, 219, 0.4);
  --grey-30-a90: rgba(215, 215, 219, 0.9);
  --grey-40: #b1b1b3;
  --grey-45: #939395;
  --grey-50: #737373;
  --grey-55: #5c5c5f;
  --grey-60: #4a4a4f;
  --grey-60-a50: rgba(74, 74, 79, 0.5);
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-85: #1b1b1d;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a80: rgba(12, 12, 13, 0.8);
}
