/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Webconsole specific theme variables */
:root {
  /* Output rows should be 20px tall for a single line of text;
   * 20 = 3 (top padding) + 14 (line-height) + 3 (bottom padding)
   */
  --console-output-font-size: 11px;
  --console-output-line-height: calc(14 / 11);
  --console-output-vertical-padding: 3px;
  /* Width of the left gutter where icons appear */
  --console-inline-start-gutter: 32px;
  /* Icons perfectly centered in the left gutter "feel" closer to the window
   * edge than to message text. This value pushes them slightly to the right. */
  --console-icon-horizontal-offset: 1px;
}

.theme-dark {
  --console-arrow-color: hsl(210, 6%, 52%);
  --console-input-icon-color: hsl(0, 0%, 50%, 0.5);
  --console-input-icon-focused: hsl(210, 100%, 73%);
  --console-output-icon-info: hsl(210, 6%, 52%);
  --console-output-icon-input: hsl(210, 6%, 76%);
  --console-output-icon-error: hsl(0, 100%, 65%);
  --console-output-icon-warning: hsl(36, 100%, 60%);
  --console-output-indent-border-color: var(--theme-highlight-blue);
  --error-color: hsl(0, 100%, 79%);
  --error-background-color: hsl(352, 79%, 62%, 0.17);
  --warning-color: hsl(43, 94%, 81%);
  --warning-background-color: hsl(42, 37%, 19%);
  --console-output-color: white;
  --repeat-bubble-background-color: var(--blue-60);
}

.theme-light {
  --console-arrow-color: hsl(210, 6%, 67%);
  --console-input-icon-color: hsl(210, 6%, 75%);
  --console-input-icon-focused: hsl(210, 100%, 44%);
  --console-output-icon-info: hsl(210, 6%, 67%);
  --console-output-icon-input: hsl(210, 6%, 34%);
  --console-output-icon-error: hsl(0, 90%, 45%);
  --console-output-icon-warning: hsl(36, 100%, 45%);
  --console-output-indent-border-color: var(--theme-highlight-blue);
  --error-color: var(--red-70);
  --error-background-color: hsl(344, 73%, 97%);
  --warning-color: var(--yellow-80);
  --warning-background-color: hsl(54, 100%, 92%);
  --console-output-color: var(--grey-90);
  --repeat-bubble-background-color: var(--theme-highlight-blue);
}

/* General output styles */

a {
  -moz-user-focus: normal;
  cursor: pointer;
  text-decoration: underline;
}

/* Workaround for Bug 575675 - FindChildWithRules aRelevantLinkVisited
 * assertion when loading HTML page with links in XUL iframe */
*:visited { }

* {
  box-sizing: border-box;
}

.message {
  display: flex;
  width: 100%;
  /* Avoid vertical padding, so that we can draw full-height items (e.g. indent guides).
   * Use vertical margins on children instead. */
  padding-inline-start: 1px;
  padding-inline-end: 8px;
  border-inline-start: solid 3px transparent;
  font-size: var(--console-output-font-size);
  line-height: var(--console-output-line-height);
  position: relative;
}

/*
 * By default, prevent any element in message to overflow.
 * This makes console reflows faster (See Bug 1487457).
 */
.message * {
  overflow: hidden;
}

/* Reset the overflow for the network info panel (when a network message is expanded) */
.message .network-info * {
  overflow: unset;
}

.message:hover {
  border-inline-start-color: var(--theme-highlight-blue);
}

.message.error {
  color: var(--error-color);
  background-color: var(--error-background-color);
}

.message.navigationMarker {
  border-top: 1px solid var(--theme-emphasized-splitter-color);
  color: var(--object-color);
}

.message.warn {
  color: var(--warning-color);
  background-color: var(--warning-background-color);
}

.message.paused::before {
  background: #d8461f;
  opacity: 0.6;
  width: 100vw;
  height: 1px;
  bottom: 0px;
  left: -3px;
  display: block;
  content: "";
  position: absolute;
}

.message.paused ~ .message {
  opacity: 0.5;
}

.message.startGroup,
.message.startGroupCollapsed {
  --console-output-indent-border-color: transparent;
}

.message > .prefix,
.message > .timestamp {
  flex: none;
  color: var(--theme-comment);
  margin: var(--console-output-vertical-padding) 4px;
}

@media (max-width: 500px) {
  .message > .timestamp {
    display: none;
  }
}

.message > .indent {
  flex: none;
  display: inline-block;
  margin-inline-start: 12px;
  border-inline-end: solid 1px var(--console-output-indent-border-color);
}

.message > .indent[data-indent="0"] {
  display: none;
}

/* Center first level indent within the left gutter */
.message:not(.startGroup):not(.startGroupCollapsed) > .indent[data-indent="1"] {
  margin-inline-start: calc(1px + var(--console-icon-horizontal-offset));
  margin-inline-end: calc(11px - var(--console-icon-horizontal-offset));
}

.message > .icon {
  flex: none;
  align-self: flex-start;
  /* Width and height must be a multiples of 2px to avoid blurry images.
   * Height should match the text's line-height for optimal vertical alignment */
  width: 14px;
  height: 14px;
  margin: var(--console-output-vertical-padding) 4px;
  background-image: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  -moz-context-properties: fill;
  fill: currentColor;
}

/* Icon on unindented row should be centered within the left gutter */
.message > .indent[data-indent="0"] + .icon {
  width: 24px;
  margin-inline-start: var(--console-icon-horizontal-offset);
  margin-inline-end: calc(4px - var(--console-icon-horizontal-offset));
}

.message.command > .icon {
  color: var(--console-output-icon-input);
  background-image: var(--theme-console-input-image);
}

.message.result > .icon {
  color: var(--console-output-icon-info);
  background-image: var(--theme-console-return-image);
}

.message.info > .icon {
  color: var(--console-output-icon-info);
  background-image: var(--theme-console-info-image);
}

.message.error > .icon {
  color: var(--console-output-icon-error);
  background-image: var(--theme-console-alert-image);
}

.message.warn > .icon {
  color: var(--console-output-icon-warning);
  background-image: var(--theme-console-alert-image);
}

.message.navigationMarker > .icon {
  color: var(--object-color);
  background-image: var(--theme-console-navigation-image);
}


.message:hover > .icon.rewindable {
  background-image:var(--theme-console-jump-image);
  background-size: 14px 14px;
  cursor: pointer;
}

.message > .message-body-wrapper {
  flex: auto;
  min-width: 0px;
  margin: var(--console-output-vertical-padding) 0;
}

.message-body-wrapper .table-widget-body {
  overflow: visible;
}

/* The bubble that shows the number of times a message is repeated */
.message-repeats {
  -moz-user-select: none;
  flex-shrink: 0;
  margin: 2px 5px;
  padding: 0 6px;
  height: 1.25em;
  color: white;
  background-color: var(--repeat-bubble-background-color);
  border-radius: 40px;
  font: message-box;
  font-size: 0.8em;
  font-weight: normal;
}

.message-repeats[value="1"] {
  display: none;
}

.message-location {
  max-width: 40vw;
  flex-shrink: 0;
  color: var(--frame-link-source);
  margin-inline-start: 5px;
}

.stack-trace {
  /* The markup contains extra whitespace to improve formatting of clipboard text.
     Make sure this whitespace doesn't affect the HTML rendering */
  white-space: normal;
}

.message-location,
.stack-trace .frame-link-source {
  /* Makes the file name truncated (and ellipsis shown) on the left side */
  direction: rtl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: end;
}

.stack-trace .frame-link-source-inner,
.message-location .frame-link-source-inner {
  /* Enforce LTR direction for the file name - fixes bug 1290056 */
  direction: ltr;
  unicode-bidi: embed;
}

.stack-trace .frame-link-function-display-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-flex-body {
  display: flex;
}

.message-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-flex-body > .message-body {
  display: block;
  flex: 1;
}

/* Network styles */

.console-string {
  color: var(--theme-highlight-lightorange);
}

.theme-selected .console-string,
.theme-selected .cm-number,
.theme-selected .cm-variable,
.theme-selected .kind-ArrayLike {
  color: #f5f7fa !important; /* Selection Text Color */
}

.message.network > .message-body {
  display: flex;
  flex-wrap: wrap;
}

.message.network .method {
  flex: none;
}

.message.network .url {
  flex: 1 1 auto;
  /* Make sure the URL is very small initially, let flex change width as needed. */
  width: 100px;
  min-width: 5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.message.network .status {
  flex: none;
  margin-inline-start: 6px;
  cursor: default;
}

.message.network.mixed-content .url {
  color: var(--theme-highlight-red);
  cursor: default;
}

.message .learn-more-link {
  color: var(--theme-highlight-blue);
  margin: 0 6px;
}

.message.network .xhr {
  background-color: var(--theme-body-color-alt);
  color: var(--theme-body-background);
  border-radius: 3px;
  font-weight: bold;
  font-size: 10px;
  padding: 1px 2px;
  line-height: 10px;
  margin-inline-start: 0;
  margin-inline-end: 1ex;
}

/* JSTerm Styles */

html .jsterm-input-node-html,
html #webconsole-notificationbox {
  flex: 0;
  width: 100vw;
}

.jsterm-input-container {
  background-color: var(--theme-tab-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
  position: relative;
}

.jsterm-input-node {
  box-sizing: border-box;
  min-height: 100%;
  color: var(--theme-content-color1);
  /* input icon */
  background-image: var(--theme-console-input-image);
  background-position-x: calc(10px + var(--console-icon-horizontal-offset));
  background-position-y: 7px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  -moz-context-properties: fill;
  fill: var(--console-input-icon-color);
}

.jsterm-complete-node {
  color: var(--theme-comment);
}

.theme-light .jsterm-input-container {
  /* For light theme use a white background for the input - it looks better
     than off-white */
  background-color: #fff;
  border-top-color: #e0e0e0;
}

textarea.jsterm-input-node,
textarea.jsterm-complete-node {
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: inherit;
  line-height: 16px;
  overflow-x: hidden;
  padding: 5px 0;
  padding-inline-start: var(--console-inline-start-gutter);
}

textarea.jsterm-complete-node {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

textarea.jsterm-input-node:focus {
  fill: var(--console-input-icon-focused);
  box-shadow: none;
  outline: none;
}

/* CodeMirror-powered JsTerm */
.jsterm-cm .jsterm-input-container > .CodeMirror {
  font-size: var(--console-output-font-size);
  line-height: var(--console-output-line-height);
  /* aim for a 32px left space (a descendent has 4px padding) */
  padding-inline-start: calc(var(--console-inline-start-gutter) - 4px);
  /* input icon */
  background-image: var(--theme-console-input-image);
  background-position-x: calc(10px + var(--console-icon-horizontal-offset));
  background-position-y: 5px;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  -moz-context-properties: fill;
  fill: var(--console-input-icon-color);
}

.jsterm-cm .jsterm-input-container > .CodeMirror-focused {
  fill: var(--console-input-icon-focused);
}

.jsterm-cm .cm-auto-complete-shadow-text::after {
  content: attr(title);
  color: var(--theme-comment);
}

/* Security styles */

.stacktrace {
  display: none;
  overflow-y: auto;
  margin-block-start: 5px;
  margin-block-end: var(--attachment-margin-block-end);
  padding-inline-start: 4px;
}

.message.open .stacktrace {
  display: block;
}

.consoletable {
  margin: 5px 0 0 0;
}

/* Force cells to only show one row of contents.  Getting normal ellipses
   behavior has proven impossible so far, so this is better than letting
   rows get out of vertical alignment when one cell has a lot of content. */
.consoletable .table-widget-cell > span {
  overflow: hidden;
  display: flex;
  height: 1.25em;
  line-height: 1.25em;
}

/* Do not mirror the twisty because container force to ltr
 * (theme-twisty still used in network request details)
 */
.message .theme-twisty:dir(rtl),
.message .theme-twisty:-moz-locale-dir(rtl) {
  transform: none;
}

.cm-s-mozilla a[class] {
  font-style: italic;
  text-decoration: none;
}

.cm-s-mozilla a[class]:hover,
.cm-s-mozilla a[class]:focus {
  text-decoration: underline;
}

a.learn-more-link.webconsole-learn-more-link {
    font-style: normal;
}

/* Open DOMNode in inspector button */
.open-inspector {
  background: url("chrome://devtools/skin/images/vview-open-inspector.png") no-repeat 0 0;
  padding-inline-start: 16px;
  margin-inline-start: 5px;
  cursor: pointer;
}

.open-inspector:hover {
  filter: var(--theme-icon-checked-filter);
}

.open-inspector:active {
  filter: var(--theme-icon-checked-filter) brightness(0.9);
}

/*
  This element contains the different toolbars in the console
    - primary, containing the clear messages button and the text search input.
      It can expand as much as it need.
    - filtered messages, containing the "X items hidden by filters" and the reset filters button.
      It should be on the same row than the primary bar if it fits there, or on its own 100% row if it is wrapped.
    - close button, close the split console panel. This button will be displayed on righ-top of tool bar always.
    - secondary, containing the filter buttons (Error, Warning, …).
      It should be on its own 100% row.

  Basically here's what we can have :

  --------------------------------------------------------------------------------------------------------------------------
  | Clear button - Open filter bar button - Filter Input | X items hidden by filters - Reset Filters button | Close button |
  --------------------------------------------------------------------------------------------------------------------------
  | Error - Warning - Log - Info - Debug - CSS - Network - XHR                                                             |
  --------------------------------------------------------------------------------------------------------------------------

  or

  ---------------------------------------------------------------------------------------------------
  | Clear button - Open filter bar button - Filter Input                             | Close button |
  ---------------------------------------------------------------------------------------------------
  |                                               X items hidden by filters  - Reset Filters button |
  ---------------------------------------------------------------------------------------------------
  | Error - Warning - Log - Info - Debug - CSS - Network - XHR                                      |
  ---------------------------------------------------------------------------------------------------
*/
.webconsole-filteringbar-wrapper {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 1fr auto auto;
  /* Wrap so the "Hidden messages" bar can go to its own row if needed */
  flex-wrap: wrap;
  --primary-toolbar-height: 29px;
}

.webconsole-filterbar-primary {
  display: flex;
  /* We want the toolbar (which contain the text search input) to fit
  the content, we don't allow to shrink/overlap it */
  flex: 100 0 -moz-fit-content;
  align-items: center;
  min-height: var(--primary-toolbar-height);
}

.devtools-toolbar.webconsole-filterbar-secondary {
  --separator-inline-margin: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  -moz-user-select: none;
  grid-column: 1 / -1;
}

.split-console-close-button-wrapper {
  min-height: var(--primary-toolbar-height);
  /* We will need to display the close button in the right-top always. */
  grid-column: -1 / -2;
  grid-row: 1 / 2;
  padding-inline-end: 0;
}

/* On OSX the cursor turns into a window-resizing cursor at the edges of the
 * window, so bring the end of the close button in. */
:root[platform="mac"] .split-console-close-button-wrapper,
:root[platform="mac"] .webconsole-sidebar-toolbar {
  padding-inline-end: 3px;
}

#split-console-close-button {
  margin-inline-end: 0;
  height: 100%;
  margin: 0;
}

.webconsole-filterbar-primary .devtools-plaininput {
  flex: 1 1 100%;
  align-self: stretch;
  margin-inline-start: 1px;
  padding-inline-start: 4px;
  border: 1px solid transparent;
}

.devtools-plaininput:focus {
  border: 1px solid var(--blue-50);
  transition: all 0.2s ease-in-out;
  outline: none;
}

.webconsole-filterbar-primary .filter-checkbox {
  flex-shrink: 0;
  margin: 0 3px;
  display: flex;
  align-items: center;
  -moz-user-select: none;
}

.webconsole-filterbar-filtered-messages {
  /* Needed so the bar takes the whole horizontal space when it is wrapped */
  flex-grow: 1;
  justify-content: flex-end;
  color: var(--theme-comment);
  text-align: end;
  align-items: center;
  min-height: var(--primary-toolbar-height);
  line-height: var(--primary-toolbar-height);
}

@media (max-width: 965px) {
  /* This media query will make filtered message element to be displayed in new
    line. This width is based on greek localized size since it will longer than
    other localized strings. */
  .webconsole-filterbar-filtered-messages {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    justify-self: stretch;
  }
}

.webconsole-filterbar-filtered-messages .filter-message-text {
  font-style: italic;
  -moz-user-select: none;
}

.webconsole-filterbar-filtered-messages .reset-filters-button {
  margin-inline-start: 0.5em;
}

/* Special casing String reps so they are legible */
.webconsole-output-wrapper .message .message-body > .objectBox-string {
  color: currentColor;
}

/* Special casing dark-theme error and warning ObjectInspector colors */
.theme-dark .webconsole-output-wrapper .message.error .tree.object-inspector .object-label,
.theme-dark .webconsole-output-wrapper .message.error .tree.object-inspector .object-label *,
.theme-dark .webconsole-output-wrapper .message.warn .tree.object-inspector .object-label,
.theme-dark .webconsole-output-wrapper .message.warn .tree.object-inspector .object-label *,
.theme-dark .webconsole-output-wrapper .message.error .objectLeftBrace,
.theme-dark .webconsole-output-wrapper .message.error .objectRightBrace,
.theme-dark .webconsole-output-wrapper .message.error .arrayLeftBracket,
.theme-dark .webconsole-output-wrapper .message.error .arrayRightBracket,
.theme-dark .webconsole-output-wrapper .message.warn .objectLeftBrace,
.theme-dark .webconsole-output-wrapper .message.warn .objectRightBrace,
.theme-dark .webconsole-output-wrapper .message.warn .arrayLeftBracket,
.theme-dark .webconsole-output-wrapper .message.warn .arrayRightBracket {
  color: var(--theme-body-color);
}
.theme-dark .webconsole-output-wrapper .message.error .tree.object-inspector,
.theme-dark .webconsole-output-wrapper .message.warn .tree.object-inspector {
  --console-output-indent-border-color: var(--theme-body-color);
}

.webconsole-output-wrapper .message-flex-body > .message-body {
  overflow: hidden;
}

.webconsole-output-wrapper .message-body > * {
  flex-shrink: 0;
  vertical-align: top;
}

.message.startGroup .message-body > .objectBox-string,
.message.startGroupCollapsed .message-body > .objectBox-string {
  color: var(--theme-body-color);
  font-weight: bold;
}

/* Prefix text that can be set by ConsoleAPI option */
.webconsole-output-wrapper .console-message-prefix {
  color: var(--theme-comment);
}

/* Network Messages */

.webconsole-output-wrapper .message.network .method {
  margin-inline-end: 5px;
}

.webconsole-output-wrapper .message.network .xhr {
  background-color: var(--theme-comment);
  color: white;
  border-radius: 2px;
  font-weight: normal;
  line-height: inherit;
}

.webconsole-output-wrapper .message.network .url {
  color: var(--theme-comment);
  font-style: inherit;
}

.webconsole-output-wrapper .message.network .status {
  color: var(--theme-highlight-blue);
  font-style: inherit;
}

.webconsole-output-wrapper .message.network .status .status-info .status-code {
  padding: 0 2px;
  border-radius: 3px;
  text-decoration: none;
  font-style: normal;
}

.webconsole-output-wrapper .message.network .status .status-info .status-code:not([data-code^="3"]) {
  color: var(--theme-body-background);
}

.status-code[data-code^="1"] {
  background-color: var(--status-code-color-1xx);
}

.status-code[data-code^="2"] {
  background-color: var(--status-code-color-2xx);
}

.status-code[data-code^="3"] {
  background-color: var(--status-code-color-3xx);
}

.status-code[data-code^="4"] {
  background-color: var(--status-code-color-4xx);
}

.status-code[data-code^="5"] {
  background-color: var(--status-code-color-5xx);
}

.network.message .network-info {
  display: none;
  margin-block-start: 6px;
  margin-block-end: 2px;
  border: solid 1px var(--theme-splitter-color);
}

.network.message.open .network-info {
  display: block;
}

.network.message .network-info .panels {
  max-height: 250px;
  min-height: 100px;
}

/* Hide 'Edit And Resend' button since the feature isn't
   supported in the Console panel. */
.network.message #headers-panel .edit-and-resend-button {
  display: none;
}

.network .message-flex-body > .message-body {
  display: flex;
  flex-wrap: wrap;
}

/*
 * Open DOMNode in inspector button. Style need to be reset in the new
 * console since its style is already defined in reps.css .
 */
.webconsole-output-wrapper .open-inspector {
  background-image: unset;
}

/* console.table() */
.new-consoletable {
  width: 100%;
  --consoletable-border: var(--theme-splitter-color);
  margin-block-end: var(--attachment-margin-block-end);
  color: var(--theme-body-color);
  display: grid;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid var(--consoletable-border);
  /* border at the left side will be added by the inner divs [role=gridcell] */
  border-left: none;
}

.new-consoletable > div {
  border-left: 1px solid var(--consoletable-border);
}

.new-consoletable-header {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--consoletable-border);
  background-color: var(--theme-toolbar-background);
  color: var(--theme-body-color);
  margin: 0;
  padding: 5px 4px;
  font-weight: inherit;
  z-index: 1;
}

.new-consoletable > [role=gridcell] {
  background-color: var(--theme-body-background);
  padding: 3px 4px;
  min-width: 100px;
  color: var(--theme-body-color);
}

.new-consoletable > [role=gridcell].even {
  background-color: var(--table-zebra-background);
}

/* Layout */
.webconsole-output {
  direction: ltr;
  overflow: auto;
  -moz-user-select: text;
  position: relative;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app-wrapper {
  height: 100vh;
  max-height: 100vh;
}


/*
 * Here's what the layout of the console looks like:
 *
 *  +------------------------------+--------------+
 *  |                              |              |
 *  |  WEBCONSOLE FLEX WRAPPER     |   SIDEBAR    |
 *  |                              |              |
 *  +------------------------------+--------------+
 */
.webconsole-output-wrapper {
  --object-inspector-hover-background: transparent;
  --attachment-margin-block-end: 3px;
  --primary-toolbar-height: 29px;
  --close-button-image: url(chrome://devtools/skin/images/close.svg);
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto;
  max-height: 100vh !important;
  height: 100vh !important;
  width: 100vw;
  overflow: hidden;
  color: var(--console-output-color);
  -moz-user-focus: normal;
}

.webconsole-flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.webconsole-flex-wrapper .webconsole-filteringbar-wrapper {
  flex-shrink: 0;
  overflow: hidden;
}

.webconsole-flex-wrapper .webconsole-output {
  flex-shrink: 100000;
  overflow-x: hidden;
}

.webconsole-flex-wrapper > .webconsole-output:not(:empty) {
  min-height: 19px;
}

.webconsole-output-wrapper #webconsole-notificationbox {
  flex-shrink: 0;
}

.webconsole-output-wrapper .jsterm-input-container {
  min-height: 28px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.jsterm-cm .jsterm-input-container {
  padding-block-start: 2px;
}

.webconsole-flex-wrapper > .webconsole-output:empty ~ .jsterm-input-container {
  border-top: none;
}

/* Object Inspector */
.webconsole-output-wrapper .object-inspector.tree {
  display: inline-block;
  max-width: 100%;
}

.webconsole-output-wrapper .object-inspector.tree .tree-indent {
  border-inline-start-color: var(--console-output-indent-border-color);
}

.webconsole-output-wrapper .object-inspector.tree .tree-node:hover:not(.focused) {
  background-color: var(--object-inspector-hover-background);
}

/*
 * Make console.group, exception and XHR message's arrow look the same as the arrow
 * used in the ObjectInspector (same background-image, width, transition).
 * Properties were copied from devtools/client/shared/components/reps/reps.css.
 */
.collapse-button {
  flex: none;
  align-self: flex-start;
  margin-block-start: var(--console-output-vertical-padding);
  margin-inline-start: -3px;
  margin-inline-end: 0;
  padding: 2px 4px;
  border: none;
  background: transparent;
}

.collapse-button::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  mask: url("chrome://devtools/skin/images/devtools-components/arrow.svg") no-repeat;
  mask-size: 100%;
  transform: rotate(-90deg);
  transition: transform 0.125s ease;
  background-color: var(--console-arrow-color);
}

.collapse-button[aria-expanded="true"]::before {
  transform: rotate(0);
}

.collapse-button::-moz-focus-inner {
  border: none;
}

/* Larger collapse buttons for groups and network requests */
.message.network > .collapse-button,
.message.startGroup .collapse-button,
.message.startGroupCollapsed .collapse-button {
  margin-inline-start: 0;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
}

/* Hide the icon, so that we can use the collapse-button in its place */
.message.network > .icon,
.message.startGroup > .icon,
.message.startGroupCollapsed > .icon {
  display: none;
}

/* Center the collapse button in the left gutter (first-level only) */
.message.network > .collapse-button,
.message.startGroup > .indent[data-indent="0"] ~ .collapse-button,
.message.message.startGroupCollapsed > .indent[data-indent="0"] ~ .collapse-button {
  margin-inline-start: calc(1px + var(--console-icon-horizontal-offset));
  margin-inline-end: calc(5px - var(--console-icon-horizontal-offset));
}

/* Apply a style similar to collapse-button for the object tree arrows */
.webconsole-output-wrapper .tree .arrow,
.webconsole-output-wrapper .object-inspector .tree-node .arrow {
  width: 10px;
  height: 10px;
  vertical-align: 0px;
  line-height: 1;
  background-color: var(--console-arrow-color);
}

/* Sidebar */
.sidebar {
  display: flex;
  grid-row: 1 / -1;
  grid-column: -1 / -2;
  background-color: var(--theme-sidebar-background);
  border-inline-start: 1px solid var(--theme-splitter-color);
}

.sidebar .splitter {
  /* Let the parent component handle the border. This is needed otherwise there is a visual
     glitch between the input and the sidebar borders */
  background-color: transparent;
}

.split-box.vert.sidebar {
  /* Set to prevent the sidebar from extending past the right edge of the page */
  width: unset;
}

.sidebar-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  overflow: hidden;
}

.webconsole-sidebar-toolbar {
  grid-row: 1 / 2;
  min-height: var(--primary-toolbar-height);
  display: flex;
  justify-content: end;
  padding: 0;
}

.sidebar-contents {
  grid-row: 2 / 3;
  overflow: auto;
  max-height: 100%;
}

.webconsole-sidebar-toolbar .sidebar-close-button {
  padding: 4px 0;
  margin: 0;
}

.sidebar-close-button::before {
  fill: var(--theme-toolbar-photon-icon-color);
  background-image: var(--close-button-image);
}

.sidebar-contents .object-inspector {
  min-width: 100%;
}

#split-console-close-button::before {
  fill: var(--theme-toolbar-photon-icon-color);
  background-image: var(--close-button-image);
}
