# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Пра { -brand-full-name }
releaseNotes-link = Што новага
update-checkForUpdatesButton =
    .label = Праверыць наяўнасць абнаўленняў
    .accesskey = П
update-updateButton =
    .label = Перазапуск для абнаўлення { -brand-shorter-name }
    .accesskey = П
update-checkingForUpdates = Праверка існавання абнаўленняў…
update-downloading = <img data-l10n-name="icon"/>Сцягванне абнаўлення — <label data-l10n-name="download-status"/>
update-applying = Прымяняецца абнаўленне…
update-failed = Няўдача абнаўлення. <label data-l10n-name="failed-link">Сцягнуць апошнюю версію</label>
update-failed-main = Няўдача абнаўлення. <a data-l10n-name="failed-link-main">Сцягнуць апошнюю версію</a>
update-adminDisabled = Абнаўленні забаронены вашым сістэмным адміністратарам
update-noUpdatesFound = { -brand-short-name } абноўлены
update-otherInstanceHandlingUpdates = { -brand-short-name } абнаўляецца іншым асобнікам
update-manual = Абнаўленні даступныя на <label data-l10n-name="manual-link"/>
update-unsupported = Вы не можаце працягнуць абнаўленне на гэтай сістэме. <label data-l10n-name="unsupported-link">Падрабязней</label>
update-restarting = Перазапуск...
channel-description = Зараз вы на <label data-l10n-name="current-channel"></label> канале абнаўленняў.{ " " }
warningDesc-version = { -brand-short-name } з'яўляецца эксперыментальным і можа быць няўстойлівым.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> — <label data-l10n-name="community-exp-creditsLink">сусветнае згуртаванне</label>, якое працуе разам, каб захаваць Сеціва адкрытым, публічным і даступным кожнаму.
community-2 = { -brand-short-name } распрацаваны <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, <label data-l10n-name="community-creditsLink">сусветным згуртаваннем</label>, якое працуе разам, каб захаваць Сеціва адкрытым, публічным і даступным кожнаму.
helpus = Хочаце дапамагчы? <label data-l10n-name="helpus-donateLink">Зрабіце ахвяраванне</label> або <label data-l10n-name="helpus-getInvolvedLink">далучайцеся да нас!</label>
bottomLinks-license = Звесткі пра ліцэнзію
bottomLinks-rights = Правы канчатковага карыстальніка
bottomLinks-privacy = Палітыка прыватнасці
aboutDialog-architecture-sixtyFourBit = 64-біт
aboutDialog-architecture-thirtyTwoBit = 32-біт
