# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Om { -brand-full-name }
releaseNotes-link = Vad är nytt
update-checkForUpdatesButton =
    .label = Sök efter uppdateringar
    .accesskey = ö
update-updateButton =
    .label = Starta om för att uppdatera { -brand-shorter-name }
    .accesskey = S
update-checkingForUpdates = Söker efter uppdateringar…
update-downloading = <img data-l10n-name="icon"/>Hämtar uppdatering — <label data-l10n-name="download-status"/>
update-applying = Utför uppdatering…
update-failed = Uppdatering misslyckades. <label data-l10n-name="failed-link">Hämta den senaste versionen</label>
update-failed-main = Uppdatering misslyckades. <a data-l10n-name="failed-link-main">Hämta den senaste versionen</a>
update-adminDisabled = Uppdateringar är inaktiverade av systemadministratören
update-noUpdatesFound = { -brand-short-name } är redan uppdaterad
update-otherInstanceHandlingUpdates = { -brand-short-name } uppdateras av en annan instans
update-manual = Uppdateringar finns på <label data-l10n-name="manual-link"/>
update-unsupported = Du kan inte utföra fler uppdateringar på detta system. <label data-l10n-name="unsupported-link">Läs mer</label>
update-restarting = Startar om…
channel-description = Du finns för närvarande på uppdateringskanalen <label data-l10n-name="current-channel"></label>uppdaterings kanal.
warningDesc-version = { -brand-short-name } är experimentell och kan vara instabil.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> är en <label data-l10n-name="community-exp-creditsLink">global gemenskap</label> som arbetar tillsammans för att hålla webben öppen och tillgänglig för alla.
community-2 = { -brand-short-name }, utvecklad av <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, en <label data-l10n-name="community-creditsLink">global gemenskap</label> som arbetar tillsammans för att hålla webben öppen och tillgänglig för alla.
helpus = Vill du hjälpa till? <label data-l10n-name="helpus-donateLink">Ge ett bidrag</label> eller <label data-l10n-name="helpus-getInvolvedLink">engagera dig!</label>
bottomLinks-license = Licensinformation
bottomLinks-rights = Användarrättigheter
bottomLinks-privacy = Sekretesspolicy
aboutDialog-architecture-sixtyFourBit = 64-bitars
aboutDialog-architecture-thirtyTwoBit = 32-bitars
