# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Wó wuwijarskich rědach
enable-title = Wuwijarske rědy Firefox zmóžniś
enable-inspect-element-title = Wuwijarske rědy Firefox zmóžniś, aby se Element pśepytowaś wužywało
enable-inspect-element-message = Pśepytajśo a wobźěłajśo HTML a CSS z Inspektora wuwijarskich rědow.
enable-about-debugging-message = Wuwijajśo a testujśo WebExtensions, webworkery, service workery a wěcej z wuwijarskimi rědami Firefox.
enable-key-shortcut-message = Sćo tastowu skrotconku wuwijarskich rědow aktiwěrował. Joli jo to zmólka była, móžośo toś ten rejtark zacyniś.
enable-menu-message = Wudopołniśo HTML, CSS a JavaScript swójogo websedła z rědami ako Inspektor a pytanje za zmólkami.
enable-common-message = Wuwijarske rědy Firefox su znjemóžnjone pó standarźe, aby wy wěcej kontrole nad swójim wobglědowakom měł.
enable-learn-more-link = Zgóńśo wěcej wó wuwijarskich rědach
enable-enable-button = Wuwijarske rědy zmóžniś
enable-close-button = Toś ten rejtark zacyniś
welcome-title = Witajśo k wuwijarskim rědam Firefox!
newsletter-title = Wuwijarski powěsćowy list Mozilla
newsletter-message = Wobstarajśo se nowosći wuwijarjow, pokaze a resurse, kótarež se direktnje na was sćelu.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Som wobjadny, až Mozilla wobchada pó <a data-l10n-name="privacy-policy">tós tych pšawidłach priwatnosći</a> z mójimi informacijami.
newsletter-subscribe-button = Aboněrowaś
newsletter-thanks-title = Wjeliki źěk!
newsletter-thanks-message = Jolic hyšći njejsćo abonement powěsćowego lista Mozilla wobkšuśił, musyśo to něnto cyniś. Pšosym glědajśo do dochada posta abo papjernika za mejlku wót nas.
footer-title = Firefox Developer Edition
footer-message = Pytaśo wěcej ako jano wuwijarske rědy? Wuslěźćo wobglědowak Firefox, kótaryž jo se specielnje za wuwijarje a moderne źěłowe wótběgi wuwił.
footer-learn-more-link = Dalšne informacije
features-learn-more = Dalšne informacije
features-inspector-title = Inspektor
features-inspector-desc = Analyzěrujśo a pólěpšćo žrědłowy kod, aby na pikselu dokradne wugótowanja wuwijał. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsola
features-console-desc = Slědujśo problemam z CSS, JavaScriptom, wěstotu a seśu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Pytanje za zmólkami
features-debugger-desc = Mócny JavaScriptowy debugger z pódpěru za waš framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Seś
features-network-desc = Doglědujśo seśowe napšašowanja, kótarež mógu wašo sedło spómałšyś abo blokěrowaś. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Składowak
features-storage-desc = Pśidajśo, změńśo a wówónoźćo cache, cookieje, datowe banki a pósejźeńske daty. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Pśiměrjony design
features-responsive-desc = Testujśo sedła na emulěrowanych rědach w swójom wobglědowaku. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Wizuelne wobźěłowanje
features-visual-editing-desc = Pólěpšćo animacije, wusměrjenje a wótkłony. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Wugbaśe
features-performance-desc = Wótwónoźćo flašowe šyjki, starajśo se wó tšužojte procese a optiměrujśo wugbaśe. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Skład
features-memory-desc = Namakajśo składowe źěry, aby wašo nałoženje zgładka běžało. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Póžedanje wó abonement njejo se raźiło ({ $errorDescription }).
newsletter-error-unknown = Njewótcakana zmólka jo nastała.
newsletter-error-timeout = Póžedanje wó abonement jo cas pśekšocyło.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Sćo wuspěšnje zmóžnił wuwijarske rědy! Aby zachopił, pśepytajśo meni Webwuwijaŕ abo wócyńśo rědy z pomocu tastoweje skrotconki { $shortcut }.
