# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Om { -brand-full-name }
releaseNotes-link = Kva er nytt
update-checkForUpdatesButton =
    .label = Sjå etter oppdateringar
    .accesskey = S
update-updateButton =
    .label = Start på nytt for å oppdatere { -brand-shorter-name }
    .accesskey = S
update-checkingForUpdates = Ser etter oppdateringar…
update-downloading = <img data-l10n-name="icon"/>Lastar ned oppdatering — <label data-l10n-name="download-status"/>
update-applying = Installerer oppdatering…
update-failed = Mislykka oppdatering. <label data-l10n-name="failed-link">Last ned den nyaste versjonen</label>
update-failed-main = Mislykka oppdatering. <a data-l10n-name="failed-link-main">Last ned den nyaste versjonen</a>
update-adminDisabled = Oppdateringar er avslått av systemansvarleg
update-noUpdatesFound = { -brand-short-name } er oppdatert
update-otherInstanceHandlingUpdates = { -brand-short-name } vert oppdatert av ein annan instans
update-manual = Oppdateringar er tilgjengelege på <label data-l10n-name="manual-link"/>
update-unsupported = Du kan ikkje utføre fleire oppdateringar på dette systemet. <label data-l10n-name="unsupported-link">Les meir</label>
update-restarting = Startar på nytt...
channel-description = Du brukar no oppdateringskanalen <label data-l10n-name="current-channel"></label>
warningDesc-version = { -brand-short-name } er eksperimentell, og kan vere ustabil.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> er eit <label data-l10n-name="community-exp-creditsLink">globalt samfunn</label> som jobbar saman for å halde nettet ope, ålment og tilgjengeleg for alle.
community-2 = { -brand-short-name } er utvikla av <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, eit <label data-l10n-name="community-creditsLink">globalt samfunn</label> som arbeider saman for å halde nettet ope, ålment, og tilgjengeleg for alle.
helpus = Vil du hjelpe til? <label data-l10n-name="helpus-donateLink">Gje ei pengegåve</label> eller <label data-l10n-name="helpus-getInvolvedLink">ver med!</label>
bottomLinks-license = Lisensinfo
bottomLinks-rights = Rettar for sluttbrukarar
bottomLinks-privacy = Personvern
aboutDialog-architecture-sixtyFourBit = 64-bitar
aboutDialog-architecture-thirtyTwoBit = 32-bitar
