# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Over { -brand-full-name }

releaseNotes-link = Wat is er nieuw

update-checkForUpdatesButton =
    .label = Controleren op updates
    .accesskey = C

update-updateButton =
    .label = Herstarten om { -brand-shorter-name } bij te werken
    .accesskey = H

update-checkingForUpdates = Controleren op updates…
update-downloading = <img data-l10n-name="icon"/>Update downloaden – <label data-l10n-name="download-status"/>
update-applying = Update toepassen…

update-failed = Update mislukt. <label data-l10n-name="failed-link">Download de nieuwste versie</label>
update-failed-main =
    Update mislukt. <a data-l10n-name="failed-link-main">Download de nieuwste versie</a>

update-adminDisabled = Updates zijn uitgeschakeld door uw systeembeheerder
update-noUpdatesFound = { -brand-short-name } is up-to-date
update-otherInstanceHandlingUpdates = { -brand-short-name } wordt door een ander exemplaar bijgewerkt

update-manual = Updates beschikbaar op <label data-l10n-name="manual-link"/>

update-unsupported = U kunt op dit systeem geen updates meer installeren. <label data-l10n-name="unsupported-link">Meer info</label>

update-restarting = Herstarten…

channel-description = U gebruikt momenteel het <label data-l10n-name="current-channel"></label>-updatekanaal.

warningDesc-version = { -brand-short-name } is experimenteel en kan onstabiel zijn.

community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> is een <label data-l10n-name="community-exp-creditsLink">wereldwijde gemeenschap</label> die samenwerkt om het internet open, openbaar en voor iedereen toegankelijk te houden.

community-2 = { -brand-short-name } is ontworpen door <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, een <label data-l10n-name="community-creditsLink">wereldwijde gemeenschap</label> die samenwerkt om het internet open, openbaar en voor iedereen toegankelijk te houden.

helpus = Wilt u helpen? <label data-l10n-name="helpus-donateLink">Geef een donatie</label> of <label data-l10n-name="helpus-getInvolvedLink">doe mee!</label>

bottomLinks-license = Licentie-informatie
bottomLinks-rights = Eindgebruikersrechten
bottomLinks-privacy = Privacybeleid

aboutDialog-architecture-sixtyFourBit = 64-bits
aboutDialog-architecture-thirtyTwoBit = 32-bits
