# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Quant al { -brand-full-name }
releaseNotes-link = Novetats
update-checkForUpdatesButton =
    .label = Cerca actualitzacions
    .accesskey = C
update-updateButton =
    .label = Reinicia per actualitzar el { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = S'estan cercant actualitzacions…
update-downloading = <img data-l10n-name="icon"/>S'està baixant l'actualització — <label data-l10n-name="download-status"/>
update-applying = S'està actualitzant…
update-failed = L'actualització ha fallat. <label data-l10n-name="failed-link">Baixeu la darrera versió</label>
update-failed-main = L'actualització ha fallat. <a data-l10n-name="failed-link-main">Baixeu la darrera versió</a>
update-adminDisabled = L'administrador ha inhabilitat les actualitzacions
update-noUpdatesFound = El { -brand-short-name } està actualitzat
update-otherInstanceHandlingUpdates = Una altra instància està actualitzant el { -brand-short-name }
update-manual = Hi ha actualitzacions disponibles a <label data-l10n-name="manual-link"/>
update-unsupported = No podeu actualitzar en aquest sistema. <label data-l10n-name="unsupported-link">Més informació</label>
update-restarting = S'està reiniciant…
channel-description = Actualment esteu al canal <label data-l10n-name="current-channel"></label> d'actualitzacions.{ " " }
warningDesc-version = El { -brand-short-name } és experimental i pot ser inestable.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> és una <label data-l10n-name="community-exp-creditsLink">comunitat global</label> que treballa conjuntament per mantenir el web obert, públic i accessible per a tothom.
community-2 = El { -brand-short-name } està dissenyat per <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, una <label data-l10n-name="community-creditsLink">comunitat global</label> que treballa conjuntament per mantenir el web obert, públic i accessible per a tothom.
helpus = Voleu ajudar? <label data-l10n-name="helpus-donateLink">Feu una donació</label>, o bé <label data-l10n-name="helpus-getInvolvedLink">col·laboreu-hi!</label>
bottomLinks-license = Informació de la llicència
bottomLinks-rights = Drets dels usuaris finals
bottomLinks-privacy = Política de privadesa
aboutDialog-architecture-sixtyFourBit = 64 bits
aboutDialog-architecture-thirtyTwoBit = 32 bits
