# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Acerca de las herramientas de desarrollador
enable-title = Habilitar las herramientas de desarrollador de Firefox
enable-inspect-element-title = Habilitar las herramientas de desarrollador de Firefox para usar Inspeccionar elemento
enable-inspect-element-message = Examina y edita HTML y CSS con el inspector de las herramientas de desarrollador
enable-about-debugging-message = Desarrolla y depura WebExtensions, web workers, service workers y más con las herramientas de desarrollador de Firefox.
enable-key-shortcut-message = Activaste un atajo de las herramientas de desarrollador. Si eso fue un error, puedes cerrar esta pestaña.
enable-menu-message = Perfecciona el HTML, CSS y JavaScript de tu sitio web con herramientas como el Inspector y el Depurador.
enable-common-message = Las herramientas de desarrollador están desactivadas por defecto para darte más control sobre tu navegador.
enable-learn-more-link = Aprender más sobre las herramientas de desarrollador
enable-enable-button = Habilitar herramientas de desarrollador
enable-close-button = Cerrar esta pestaña
welcome-title = ¡Bienvenido a las herramientas de desarrollador de Firefox!
newsletter-title = Boletín de desarrollador de Mozilla
newsletter-message = Obtén noticias, trucos y recursos para desarrolladores enviados directo a tu bandeja de entrada.
newsletter-email-placeholder =
    .placeholder = Correo
newsletter-privacy-label = No tengo problemas con que Mozilla maneje mi información como se explica en <a data-l10n-name="privacy-policy">esta Política de privacidad</a>
newsletter-subscribe-button = Suscribirme
newsletter-thanks-title = ¡Gracias!
newsletter-thanks-message = Si no has confirmado previamente una suscripción a un boletín relacionado a Mozilla, puede que tengas que hacerlo. Por favor, revisa tu bandeja de entrada o filtro de spam en busca de un email de nosotros.
footer-title = Firefox Developer Edition
footer-message = ¿Buscas más que unas simples herramientas de desarrollador? Revisa el navegador Firefox que está desarrollado específicamente para desarrolladores y flujos de trabajo modernos.
footer-learn-more-link = Aprender más
features-learn-more = Aprender más
features-inspector-title = Inspector
features-inspector-desc = Inspecciona y refina el código para construir plantillas a nivel de pixeles. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Rastrea problemas con CSS, JavaScript, seguridad y la red. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depurador
features-debugger-desc = Potente depurador JavaScript con soporte para tu framework. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Red
features-network-desc = Monitorea las solicitudes de red que pueden poner lento o bloquear tu sitio. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Almacenamiento
features-storage-desc = Añade, modifica y elimina caché, cookies, databases y datos de la sesión. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modo de diseño responsivo
features-responsive-desc = Prueba sitios en dispositivos emulados en tu navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edición visual
features-visual-editing-desc = Ajusta finamente las animaciones y el alineamiento. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rendimiento
features-performance-desc = Desbloquea cuellos de botella, agiliza los procesos y optimiza los componentes. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Encuentra fugas de memoria y haz que tu aplicación sea ligerísima. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Falló la solicitud de suscripción ({ $errorDescription }).
newsletter-error-unknown = Un error inesperado ocurrió.
newsletter-error-timeout = Tiempo agotado para la solicitud de suscripción.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = ¡Has activado exitosamente las herramientas de desarrollador! Para empezar, explora el menú de desarrollador web o abre las herramientas con { $shortcut }.
