# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } ga
releaseNotes-link = Haya taaga
update-checkForUpdatesButton =
    .label = Taagandirey ceeci
    .accesskey = c
update-updateButton =
    .label = Tunandi taaga ka { -brand-shorter-name } taagandi
    .accesskey = R
update-checkingForUpdates = Taagandirey ceeci…
update-downloading = <img data-l10n-name="icon"/>Taagandiri goo ma zumandi — <label data-l10n-name="download-status"/>
update-applying = Taagandiri kanandi…
update-failed = Taagandiri kay. <label data-l10n-name="failed-link">Dumi kokorantaa zumandi</label>
update-failed-main = Taagandiri kay. <a data-l10n-name="failed-link-main">Dumi kokorantaa zumandi</a>
update-adminDisabled = War juwalkaa na taagandirey kayandi
update-noUpdatesFound = { -brand-short-name } n' ka taagandi
update-otherInstanceHandlingUpdates = Jinay tana foo goo ma { -brand-short-name } taagandi
update-manual = Taagandiri barantey ne <label data-l10n-name="manual-link"/>
update-unsupported = War ši hin ka taagandiri tee koyne dabariɲaŋoo woo ga. <label data-l10n-name="unsupported-link">Ka bay ka tonton</label>
update-restarting = Goo ma tunandi taaga…
channel-description = Sohõda war goo <label data-l10n-name="current-channel"></label> taagandiri zuwoo boŋ.{ " " }
warningDesc-version = { -brand-short-name } ti šiyyan dumi kaŋ ši hima tabatante.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> ti <label data-l10n-name="community-exp-creditsLink">aduɲɲa-mee jamaa</label> kaŋ ga goy nda cere hala Interneti miɲoo ma duumi ka feeri borey kul se.
community-2 = { -brand-short-name } fasalkaa ti <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, kaŋ ti <label data-l10n-name="community-creditsLink">aduɲɲa-mee jamaa</label> kaŋ ga goy nda cere hala interneti miɲoo ma duumi ka feeri borey kul se.
helpus = Ga baa faaba? <label data-l10n-name="helpus-donateLink">Kanbuzaamay noo</label> wala <label data-l10n-name="helpus-getInvolvedLink">wa kanbe dam!</label>
bottomLinks-license = Duɲekaddasu alhabar
bottomLinks-rights = Goykaw alhakey
bottomLinks-privacy = Sutura laada
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
