# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } ನ ಬಗ್ಗೆ
releaseNotes-link = ಹೊಸತೇನಿದೆ
update-checkForUpdatesButton =
    .label = Check ಅಪ್‌ಡೇಟ್‌ಗಳಿಗಾಗಿ
    .accesskey = C
update-updateButton =
    .label = { -brand-shorter-name } ಅನ್ನು ಅಪ್‌ಡೇಟ್ ಮಾಡಲು ಪುನಃ ಪ್ರಾರಂಭಿಸಿ
    .accesskey = R
update-checkingForUpdates = ಅಪ್‌ಡೇಟ್‌ಗಳಿಗಾಗಿ ಪರಿಶೀಲಿಸಲಾಗುತ್ತಿದೆ…
update-downloading = <img data-l10n-name="icon"/>ಅಪ್‌ಡೇಟ್‌ ಅನ್ನು ಡೌನ್‌ಲೋಡ್ ಮಾಡಿಕೊಳ್ಳಲಾಗುತ್ತಿದೆ — <label data-l10n-name="download-status"/>
update-applying = ಅಪ್‌ಡೇಟ್‌ ಅನ್ನು ಅನ್ವಯಿಸಲಾಗುತ್ತಿದೆ…
update-failed = ಅಪ್‌ಡೇಟ್ ವಿಫಲಗೊಂಡಿದೆ. <label data-l10n-name="failed-link">ಇತ್ತೀಚಿನ ಆವೃತ್ತಿಯನ್ನು ಡೌನ್‌ಲೋಡ ಮಾಡಿಕೊಳ್ಳಿ</label>
update-failed-main = ಅಪ್‌ಡೇಟ್ ವಿಫಲಗೊಂಡಿದೆ. <a data-l10n-name="failed-link-main">ಇತ್ತೀಚಿನ ಆವೃತ್ತಿಯನ್ನು ಡೌನ್‌ಲೋಡ ಮಾಡಿಕೊಳ್ಳಿ</a>
update-adminDisabled = ನಿಮ್ಮ ವ್ಯವಸ್ಥೆಯ ನಿರ್ವಾಹಕರಿಂದ ಅಪ್‌ಡೇಟ್‌ಗಳನ್ನು ಅಶಕ್ತಗೊಳಿಸಲಾಗಿದೆ
update-noUpdatesFound = { -brand-short-name } ಅಪ್‌ಟುಡೇಟ್ ಆಗಿದೆ
update-otherInstanceHandlingUpdates = { -brand-short-name } ಅನ್ನು ಇನ್ನೊಂದು ನಿದರ್ಶನದಿಂದ ಅಪ್‌ಡೇಟ್ ಮಾಡಲಾಗುತ್ತಿದೆ
update-manual = ಅಪ್‌ಡೇಟ್‌ಗಳು ಇಲ್ಲಿ ಲಭ್ಯವಿವೆ <label data-l10n-name="manual-link"/>
update-unsupported = ಈ ವ್ಯವಸ್ಥೆಗೆ ಇನ್ನು ಮುಂದಿನ ಅಪ್‌ಡೇಟ್‌ಗಳನ್ನು ಮಾಡಲು ಸಾಧ್ಯವಿಲ್ಲ. <label data-l10n-name="unsupported-link">ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ</label>
update-restarting = ಮರಳಿಆರಂಭಿಸಲಾಗುತ್ತಿದೆ…
channel-description = ನೀವು ಈಗ <label data-l10n-name="current-channel"></label> ಅಪ್‌ಡೇಟ್ ಚಾನಲ್‌ನಲ್ಲಿದ್ದೀರಿ.{ " " }
warningDesc-version = { -brand-short-name } ಪ್ರಾಯೋಗಿಕ ತಂತ್ರಾಂಶವಾಗಿರುವುದರಿಂದ ಅಸ್ಥಿರವಾಗಿರಬಹುದು.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> ಎನ್ನುವುದು <label data-l10n-name="community-exp-creditsLink">ಜಾಗತಿಕ ಸಮುದಾಯ</label> ಅಂತರಜಾಲವು ಮುಕ್ತ, ಸಾರ್ವಜನಿಕ, ಮತ್ತು ಎಲ್ಲರಿಗೂ ಎಟಕುವಂತಿರಬೇಕು ಎಂದು ಒಂದುಗೂಡಿ ಕೆಲಸ ಮಾಡುತ್ತಿದೆ.
community-2 = { -brand-short-name } ಅನ್ನು ವಿನ್ಯಾಸಗೊಳಿಸಿದವರು <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ಒಂದು <label data-l10n-name="community-creditsLink">ಜಾಗತಿಕ ಸಮುದಾಯ</label> ಅಂತರಜಾಲವು ಮುಕ್ತ, ಸಾರ್ವಜನಿಕ, ಮತ್ತು ಎಲ್ಲರಿಗೂ ಎಟಕುವಂತಿರಬೇಕು ಎಂದು ಒಂದುಗೂಡಿ ಕೆಲಸ ಮಾಡುತ್ತಿದೆ.
helpus = ಸಹಾಯ ಮಾಡಲು ಇಚ್ಛಿಸುವಿರಾ? <label data-l10n-name="helpus-donateLink">ದೇಣಿಗೆಯನ್ನು ನೀಡಿ</label> ಅಥವ <label data-l10n-name="helpus-getInvolvedLink">ನೀವೂ ಪಾಲ್ಗೊಳ್ಳಿ!</label>
bottomLinks-license = ಪರವಾನಗಿ ಮಾಹಿತಿ
bottomLinks-rights = ಬಳಕೆದಾರರ ಹಕ್ಕುಗಳು
bottomLinks-privacy = ಗೌಪ್ಯತಾ ನಿಯಮ
aboutDialog-architecture-sixtyFourBit = ‍64-ಬಿಟ್‍
aboutDialog-architecture-thirtyTwoBit = ‍32-ಬಿಟ್‍
