# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Par izstrādātāju rīkiem
enable-title = Aktivēt Firefox izstrādātāju rīkus
enable-inspect-element-title = Aktivēt Firefox izstrādātāju rīkus ,lai izmantotu elementu izmeklēšanu
enable-inspect-element-message = Pārbaudiet un rediģējiet HTML un CSS ar izstrādātāju rīku inspektoru.
enable-about-debugging-message = Develop and debug WebExtensions, web workers, service workers and more with Firefox Developer Tools.
enable-key-shortcut-message = Ir aktivēta izstrādātāju rīku saīsne. Ja tā tika aktivēta kļūdas pēc, aizveriet šo cilni.
enable-menu-message = Uzlabojiet savas lapas HTML, CSS un JavaScript ar tādiem rīkiem kā Inspektors un Atkļūdotājs.
enable-common-message = Pēc noklusējuma izstrādātāju rīki ir deaktivēti, lai jums būtu lielāka kontrole pār jūsu pārlūku.
enable-learn-more-link = Uzzināt vairāk par izstrādātāju rīkiem
enable-enable-button = Aktivēt izstrādātāju rīkus
enable-close-button = Aizvērt šo cilni
welcome-title = Laipni lūgti Firefox izstrādātāju rīkos!
newsletter-title = Mozilla izstrādātāju tīkls
newsletter-message = Saņemiet izstrādātāju ziņas, padomus un dažādas noderīgas lietas savā pasta kastē.
newsletter-email-placeholder =
    .placeholder = Epasts
newsletter-privacy-label = Es piekrītu, ka jūs apstrādājat šo informāciju kā aprakstīts jūsu <a data-l10n-name="privacy-policy">privātuma politikā</a>.
newsletter-subscribe-button = Pierakstīties
newsletter-thanks-title = Paldies!
newsletter-thanks-message = Ja neesat iepriekš apstiprinājuši pierakstīšanos uz Mozilla jaunumiem jums to būs jāizdara tagad. Lūdzu, pārbaudiet savu pasta kasti, surogātpasta filtrus un mēstuļu kasti.
footer-title = Firefox izstrādātāju versija
footer-message = Meklē vairāk nekā tikai izstrādātāju rīkus? Apskati Firefox versiju, kas ir īpaši būvēta izstrādātājiem un mūsdienu darba plūsmām.
footer-learn-more-link = Uzzināt vairāk
features-learn-more = Uzzināt vairāk
features-inspector-title = Inspektors
features-inspector-desc = Pārbaudiet un pieslīpējiet kodu, lai izveidotu perfektu lapas dizainu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsole
features-console-desc = Sekojiet JavaScript, CSS un tīkla un drošības jautājumiem. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Atkļūdotājs
features-debugger-desc = Spēcīgs JavaScript atkļūdotājs ar jūsu rīku atbalstu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Tīkls
features-network-desc = Pārraugiet tīkla pieprasījumus, kas var palēnināt vai bloķēt jūsu lapu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Glabātuve
features-storage-desc = Pievienojiet, modificējiet un noņemiet kešatmiņu, cepumus, datu bāzu un sesiju datus. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Adaptīvā dizaina režīms
features-responsive-desc = Pārbaudiet lapas uz dažādām ierīcēm no pārlūka. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vizuālā rediģēšana
features-visual-editing-desc = Pieslīpējiet animācijas, līdzinājumu un atstarpes. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Veiktspēja
features-performance-desc = Atrodiet vājās vietas, optimizējiet procesus un lapas resursus. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Atmiņa
features-memory-desc = Atrodiet atmiņas noplūdes un padariet savu lietotni zibenīgu. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Abonementa pieprasījums neizdevās ({ $errorDescription }).
newsletter-error-unknown = Radās neparedzēta kļūda.
newsletter-error-timeout = Abonementa pieprasījumam iestājās noildze.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Esam veiksmīgi aktivējuši izstrādātāju rīkus! Lai sāktu darbu, apskatiet izstrādātāju izvēlni vai atveriet rīkus ar { $shortcut }.
