.SnippetBaseContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--newtab-snippets-background-color);
  color: var(--newtab-text-primary-color);
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid var(--newtab-snippets-hairline-color);
  box-shadow: $shadow-secondary;
  display: flex;
  align-items: center;

  a {
    cursor: pointer;
    color: var(--newtab-link-primary-color);

    &:hover {
      text-decoration: underline;
    }

    [lwt-newtab-brighttext] & {
      font-weight: bold;
    }
  }

  input {
    &[type='checkbox'] {
      margin-inline-start: 0;
    }
  }

  .innerWrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 12px $section-horizontal-padding;

    // This is to account for the block button on smaller screens
    padding-inline-end: 36px;
    @media (min-width: $break-point-large) {
      padding-inline-end: $section-horizontal-padding;
    }

    max-width: $wrapper-max-width-large + ($section-horizontal-padding * 2);
    @media (min-width: $break-point-widest) {
      max-width: $wrapper-max-width-widest + ($section-horizontal-padding * 2);
    }
  }

  .blockButton {
    display: none;
    background: none;
    border: 0;
    position: absolute;
    top: 50%;
    inset-inline-end: 12px;
    height: 16px;
    width: 16px;
    background-image: url('resource://activity-stream/data/content/assets/glyph-dismiss-16.svg');
    -moz-context-properties: fill;
    fill: var(--newtab-icon-primary-color);
    opacity: 0.5;
    margin-top: -8px;
    padding: 0;
    cursor: pointer;

    @media (min-width: 766px) {
      inset-inline-end: 24px;
    }
  }

  &:hover .blockButton {
    display: block;
  }

  .icon {
    height: 42px;
    width: 42px;
    margin-inline-end: 12px;
    flex-shrink: 0;
  }
}

.snippets-preview-banner {
  font-size: 15px;
  line-height: 42px;
  color: $grey-60-70;
  background: $grey-30-60;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;

  span {
    vertical-align: middle;
  }
}
