# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

addons-window =
    .title = ඇඩෝන කළමනාකරු
search-header-shortcut =
    .key = f
loading-label =
    .value = පූරණය වේ…
list-empty-installed =
    .value = මේ ආකාරයේ කිසිඳු ඇඩෝනයක් ඔබ ස්ථාපනය කර නැත
list-empty-available-updates =
    .value = යාවත්කාලීන හමු නොවීය
list-empty-recent-updates =
    .value = ඔබ කිසිඳු ඇඩෝනයක් මෑතකදී යාවත්කාලීන කර නැත
list-empty-find-updates =
    .label = යාවත්කාලීන සඳහා පරීක්ෂා කරන්න
list-empty-button =
    .label = ඇඩෝන පිළිබඳව වැඩිදුරටත් දැනගන්න
install-addon-from-file =
    .label = ඇඩෝන ගොනුවෙන් ස්ථාපනය කරන්න…
    .accesskey = I
tools-menu =
    .tooltiptext = සියළු ඇඩෝන සඳහා මෙවලම්
show-unsigned-extensions-button =
    .label = ඇතැම් දිගු තහවුරු කළ නොහැක
show-all-extensions-button =
    .label = සියළු දිගු පෙන්වන්න
debug-addons =
    .label = ඇඩෝන දෝශ නිරාකරණය
    .accesskey = B
cmd-show-details =
    .label = තවත් තොරතුරු පෙන්වන්න
    .accesskey = S
cmd-find-updates =
    .label = යාවත්කාලීන සොයන්න
    .accesskey = F
cmd-preferences =
    .label =
        { PLATFORM() ->
            [windows] විකල්ප
           *[other] මනාපයන්
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
cmd-enable-theme =
    .label = තේමාව දමන්න
    .accesskey = W
cmd-disable-theme =
    .label = තේමාව දැමීම නවතන්න
    .accesskey = W
cmd-install-addon =
    .label = ස්ථාපනය කරන්න
    .accesskey = I
cmd-contribute =
    .label = දායකවන්න
    .accesskey = C
    .tooltiptext = මෙම ඇඩෝනයේ සංවර්ධනය වෙනුවෙන් දායකවන්න
discover-title = ඇඩෝන මොනවාද?
discover-description =
    Add-ons are applications that let you personalize { -brand-short-name } with
    extra functionality or style. Try a time-saving sidebar, a weather notifier, or a themed look to make { -brand-short-name }
    your own.
discover-footer =
    ඔබ අන්තර්ජාලයට සම්බන්ධව සිටින විට, මෙය වඩාත් ජනප්‍රිය සහ ප්‍රයෝජනවත්
    ඇඩෝන ඔබට උත්සාහ කර බැලීම පිණිස මෙහි දක්වනු ඇත.
detail-version =
    .label = න්කුතුව
detail-last-updated =
    .label = අවසන් වරට යාවත්කාලීන කළේ
detail-contributions-description = මෙම ඇඩෝන සංවර්ධකයා එහි අඛණ්ඩ සංවර්ධනය වෙනුවෙන් ඔබගේ දායකත්වය ඉල්ලා සිටියි.
detail-update-type =
    .value = ස්වයංක්‍රීය යාවත්කාලීන
detail-update-default =
    .label = පෙරනිමි
    .tooltiptext = එය පෙරනිමියෙන් පමණක් නම්, ස්වයංක්‍රීයව ඇඩෝන යාවත්කාලීන කරන්නA
detail-update-automatic =
    .label = On
    .tooltiptext = ස්වයංක්‍රීයව යාවත්කාලීන ස්ථාපනය කරන්න
detail-update-manual =
    .label = Off
    .tooltiptext = ස්වයංක්‍රීයව යාවත්කාලීන ස්ථාපනය නොකරන්න
detail-home =
    .label = මුල්පිටුව
detail-home-value =
    .value = { detail-home.label }
detail-repository =
    .label = Add-on Profile
detail-repository-value =
    .value = { detail-repository.label }
detail-check-for-updates =
    .label = යාවත්කාලීන සඳහා පරීක්ෂා කරන්න
    .accesskey = f
    .tooltiptext = මෙම ඇඩෝනය සඳහා යාවත්කාලීන පරීක්ෂා කරන්න
detail-show-preferences =
    .label =
        { PLATFORM() ->
            [windows] විකල්ප
           *[other] මනාපයන්
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
    .tooltiptext =
        { PLATFORM() ->
            [windows] මෙම ඇඩෝනයේ විකල්ප වෙනස් කරන්න
           *[other] මෙම ඇඩෝනයේ මනාපයන් වෙනස් කරන්න
        }
detail-rating =
    .value = ඇගැයුම (Rating)
addon-restart-now =
    .label = දැන් ප්‍රත්‍යාරම්භ (Restart) කරන්න
disabled-unsigned-heading =
    .value = ඇතැම් ඇඩෝන අක්‍රීය කර ඇත
disabled-unsigned-description = පහත ඇඩෝන { -brand-short-name } හි භාවිතයට තහවුරු කර නොමැත. ඔබට හැක්කේ <label data-l10n-name="find-addons">ප්‍රතිස්ථාපනයන් සොයන්න</label> හෝ තහවුරු කිරීම සඳහා සංවර්දකයාගෙන් විමසන්න.
disabled-unsigned-learn-more = ඔබව මාර්ගගතව ආරක්ෂිතව තැබීම සඳහා අපගේ උත්සාහයන් පිළිබඳ දැනගන්න.
disabled-unsigned-devinfo = මෙය කියවීම මගින් තම ඇඩෝන තහවුරු කරගැනීමට කැමති සංවර්ධකයන් ඉදිරියට යන්න <label data-l10n-name="learn-more">ශ්‍රමික</label>.
extensions-view-discover =
    .name = ඇඩෝන ලබා ගන්න
    .tooltiptext = { extensions-view-discover.name }
extensions-view-recent-updates =
    .name = මෑතකාලීන යාවත්කාලීන
    .tooltiptext = { extensions-view-recent-updates.name }
extensions-view-available-updates =
    .name = පවතින යාවත්කාලීන
    .tooltiptext = { extensions-view-available-updates.name }

## These are global warnings

extensions-warning-safe-mode-label =
    .value = ආරක්ෂිත මාදිලිය (safe mode) විසින් සියළු ඇඩෝන කර ඇත.
extensions-warning-safe-mode-container =
    .tooltiptext = { extensions-warning-safe-mode-label.value }
extensions-warning-check-compatibility-label =
    .value = ඇඩෝන අනුකූලතා පරීක්ෂාව අබල (disable) කර ඇත. මෙහි අනුකූල නොවන ඇඩෝන තිබිය හැකිය.
extensions-warning-check-compatibility-container =
    .tooltiptext = { extensions-warning-check-compatibility-label.value }
extensions-warning-check-compatibility-enable =
    .label = බලැති (Enable) කරන්න
    .tooltiptext = ඇඩෝන අනුකූලතා පරීක්ෂාව බලැති (Enable) කරන්න
extensions-warning-update-security-label =
    .value = Add-on update security checking is disabled. You may be compromised by updates.
extensions-warning-update-security-container =
    .tooltiptext = { extensions-warning-update-security-label.value }
extensions-warning-update-security-enable =
    .label = බලැති (Enable) කරන්න
    .tooltiptext = ඇඩෝන යාවත්කාලීන කිරීමේ ආරක්ෂක සැකසුම් බලැතා (Enable) කරන්න

## Strings connected to add-on updates

extensions-updates-check-for-updates =
    .label = යාවත්කාලීන සඳහා පරීක්ෂා කරන්න
    .accesskey = C
extensions-updates-view-updates =
    .label = මෑතකාලීන යාවත්කාලීන පෙන්වන්න
    .accesskey = V

# This menu item is a checkbox that toggles the default global behavior for
# add-on update checking.

extensions-updates-update-addons-automatically =
    .label = ස්වයංක්‍රීයව ඇඩෝන යාවත්කාලීන කරන්න
    .accesskey = A

## Specific add-ons can have custom update checking behaviors ("Manually",
## "Automatically", "Use default global behavior"). These menu items reset the
## update checking behavior for all add-ons to the default global behavior
## (which itself is either "Automatically" or "Manually", controlled by the
## extensions-updates-update-addons-automatically.label menu item).

extensions-updates-reset-updates-to-automatic =
    .label = ස්වයංක්‍රීයව යාවත්කාලීන කිරීමට සියළු ඇඩෝන ප්‍රත්‍යාරම්භ (Restart) කරන්න
    .accesskey = R
extensions-updates-reset-updates-to-manual =
    .label = Reset All Add-ons to Update Manually
    .accesskey = R

## Status messages displayed when updating add-ons

extensions-updates-updating =
    .value = ඇඩෝන යාවත්කාලීන කිරීම
extensions-updates-installed =
    .value = ඔබගේ ඇඩෝන යාවත්කාලීන නර ඇත.
extensions-updates-downloaded =
    .value = ඔබගේ ඇඩෝන යාවත්කාලීන බාගත කර ඇත.
extensions-updates-restart =
    .label = ස්ථාපනය සම්පූර්ණ වීමට දැන් යළි-ආරම්භ කරන්න
extensions-updates-none-found =
    .value = යාවත්කාලීන හමු නොවීය
extensions-updates-manual-updates-found =
    .label = පවතින යාවත්කාලීන පෙන්වන්න
extensions-updates-update-selected =
    .label = යාවත්කාලීන ස්ථාපනය කරන්න
    .tooltiptext = මෙම ලැයිස්තුවේ පවතින යාවත්කාලීන ස්ථාපනය කරන්න
