# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name }-­ի մասին
releaseNotes-link = Ինչն է նոր
update-checkForUpdatesButton =
    .label = Ստուգել թարմացումները
    .accesskey = Ս
update-updateButton =
    .label = Վերամեկարկեք՝ { -brand-shorter-name }-ը թարմացնելու համար
    .accesskey = R
update-checkingForUpdates = Ստուգվում է թարմացումները
update-downloading = <img data-l10n-name="icon"/>Թարմացման ներբեռնում — <label data-l10n-name="download-status"/>
update-applying = Թարմացման կիրառում...
update-failed = Թարմացումը չհաջողվեց:<label data-l10n-name="failed-link">Ներբեռնել վերջին տարբերակը</label>
update-failed-main = Թարմացումը չհաջողվեց:<a data-l10n-name="failed-link-main">Ներբեռնել վերջին տարբերակը</a>
update-adminDisabled = Թարմացումներն անջատված են ձեր ցանացային ադմինիստրատորի կողմից:
update-noUpdatesFound = { -brand-short-name }-ը թարմ է
update-otherInstanceHandlingUpdates = { -brand-short-name }-ը թարմացվել է այլ օրինակի կողմից
update-manual = Թարմացումները հասանելի են՝ <label data-l10n-name="manual-link"/>
update-unsupported = Չեք կարող կատարել հետագա թարմացումներ այս համակարգում:<label data-l10n-name="unsupported-link">Իմանալ ավելին</label>
update-restarting = Վերամեկնարկում...
channel-description = Այժմ գործում է <label data-l10n-name="current-channel"></label> թարմացումների աղբյուրը:{ "  " }
warningDesc-version = { -brand-short-name }-ն փորձնական է և կայուն չի աշխատի:
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> հանդիսանում է <label data-l10n-name="community-exp-creditsLink">գլոբալ համայնք</label>, որն աշխատում է միասին՝ ապահովելու համացանցի հասանելիությունը բոլորի համար:
community-2 = { -brand-short-name }-ը ստեղծել է <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>-ն՝ <label data-l10n-name="community-creditsLink">գլոբալ համայնք</label>, որն աշխատում է միասին՝ ապահովելու համացանցի հասանելիությունը բոլորի համար:
helpus = Ցանկանու՞մ եք օգնել: <label data-l10n-name="helpus-donateLink">Կատարեք նվիրատվություն</label> կամ <label data-l10n-name="helpus-getInvolvedLink">միացեք մեր համայնքին:</label>
bottomLinks-license = Արտոնագրի տվյալներ
bottomLinks-rights = Օգտագործողի Իրավունքները
bottomLinks-privacy = Գաղտնիության դրույթներ
aboutDialog-architecture-sixtyFourBit = 64-բիթ
aboutDialog-architecture-thirtyTwoBit = 32-բիթ
