# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Despre instrumentele de dezvoltare
enable-title = Activează instrumentele de dezvoltare Firefox
enable-inspect-element-title = Activează instrumentele de dezvoltare Firefox pentru a folosi Inspectează elementul
enable-inspect-element-message = Examinează și editează HTML și CSS cu inspectorul din uneltele de dezvoltare.
enable-about-debugging-message = Dezvoltă și depanează WebExtensions, workeri web, service workeri și multe altele cu uneltele de dezvoltare din Firefox.
enable-key-shortcut-message = Ai activat o comandă rapidă pentru uneltele de dezvoltare. Dacă a fost din greșeală, poți închide această filă.
enable-menu-message = Perfecționează conținutul HTML, CSS și JavaScript de pe site cu unelte cum sunt inspectorul și depanatorul.
enable-common-message = Uneltele de dezvoltare din Firefox sunt dezactivate implicit pentru a-ți da mai mult control asupra browserului.
enable-learn-more-link = Află mai multe despre instrumentele de dezvoltare
enable-enable-button = Activează instrumentele de dezvoltare
enable-close-button = Închide această filă
welcome-title = Bun venit la instrumentele de dezvoltare Firefox!
newsletter-title = Buletinul de știri Mozilla pentru dezvoltatori
newsletter-message = Primește știri pentru dezvoltatori, trucuri și resurse direct în căsuța poștală.
newsletter-email-placeholder =
    .placeholder = E-mail
newsletter-privacy-label = Sunt de acord ca Mozilla să îmi prelucreze informațiile așa cum este explicat în această <a data-l10n-name="privacy-policy">Politică de confidențialitate</a>.
newsletter-subscribe-button = Abonează-te
newsletter-thanks-title = Îți mulțumim!
newsletter-thanks-message = Dacă nu ai confirmat anterior o abonare la un buletin de știri în legătură cu Mozilla, este posibil să fie nevoie să o faci. Te rugăm să verifici mesajele primite sau dosarul spam pentru mesaje de e-mail de la noi.
footer-title = Firefox Developer Edition
footer-message = Cauți mai mult decât instrumente de dezvoltare? Aruncă o privire asupra browserului Firefox care este construit special pentru dezvoltatori și fluxuri de lucru moderne.
footer-learn-more-link = Află mai multe
features-learn-more = Află mai multe
features-inspector-title = Inspector
features-inspector-desc = Inspectează și rafinează codul pentru a construi layouturi precise la nivel de pixel. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consolă
features-console-desc = Urmărește probleme de CSS, JavaScript, securitate și rețea. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depanator
features-debugger-desc = Depanator puternic de JavaScript cu suport pentru infrastructura ta. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Rețea
features-network-desc = Monitorizează cererile de rețea care îți pot încetini sau bloca site-ul. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Stocare
features-storage-desc = Adaugă, modifică și elimină cache-ul, cookie-urile, bazele de date și datele sesiunii. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mod de design adaptiv
features-responsive-desc = Testează site-uri pe dispozitive emulate în browserul tău. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Editare vizuală
features-visual-editing-desc = Reglează la cel mai mic detaliu animațiile, aliniamentul și paddingul. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Performanță
features-performance-desc = Elimină problemele de performanță, eficientizează procesele și optimizează resursele. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memorie
features-memory-desc = Găsește scurgerile de memorie și fă-ți aplicația mai rapidă. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = A eșuat solicitarea de abonare ({ $errorDescription }).
newsletter-error-unknown = S-a produs o eroare neașteptată.
newsletter-error-timeout = A expirat solicitarea de abonare.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Ai activat cu succes instrumentele de dezvoltare! Pentru a începe, explorează meniul Dezvoltator web sau deschide instrumentele cu { $shortcut }.
