% This Source Code Form is subject to the terms of the Mozilla Public
% License, v. 2.0. If a copy of the MPL was not distributed with this
% file, You can obtain one at http://mozilla.org/MPL/2.0/.

%include ../shared/compacttheme.inc.css

/* The window background is white due to no accentcolor in the lightweight
   theme. It can't be changed to transparent when there is no compositor
   (Win 7 in classic / basic theme), or else dragging and focus become
   broken. So instead just show the normal titlebar in that case, and override
   the window color as transparent when the compositor is available. */
@media (-moz-windows-compositor: 0) {
  #main-window[tabsintitlebar] #titlebar:-moz-lwtheme {
    visibility: visible;
  }

  /* Prevent accent color overriding the window background for
   * light and dark theme on Aero Basic. This is copied from browser-aero.css. */
  @media (-moz-windows-default-theme) {
    #main-window {
      background-color: rgb(185,209,234) !important;
    }
    #main-window:-moz-window-inactive {
      background-color: rgb(215,228,242) !important;
    }
  }
}

@media (-moz-os-version: windows-win7) {
  @media (-moz-windows-default-theme) {
    /* Always show light toolbar elements on aero surface. */
    #TabsToolbar {
      color: hsl(240,9%,98%);
    }

    /* Keep showing the correct color inside the tabs. */
    .tabbrowser-tab {
      color: var(--lwt-text-color) !important;
    }

    /* Because we're forcing the tabs toolbar to be [brighttext] to
     * get white toolbar button icons, we need to manually set the
     * correct color for the tab hover and multiselect state for the light theme. */
    .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]):-moz-lwtheme-darktext,
    .tabbrowser-tab[multiselected] > .tab-stack > .tab-background:not([selected=true]):-moz-lwtheme-darktext {
      background-color: rgba(0,0,0,.1) !important;
    }
    .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]):not([multiselected]):-moz-lwtheme-darktext {
      background-color: rgba(0,0,0,.2) !important;
    }
  }
}

@media (-moz-windows-glass) {
  /* Set to full fill-opacity to improve visibility of toolbar buttons on aero glass. */
  #TabsToolbar {
    --toolbarbutton-icon-fill-opacity: 1;
  }

  /* Make the menubar text readable on aero glass (copied from browser-aero.css). */
  #toolbar-menubar {
    text-shadow: 0 0 .5em white, 0 0 .5em white, 0 1px 0 rgba(255,255,255,.4);
  }

  #main-menubar:not(:-moz-window-inactive) {
    background-color: rgba(255,255,255,.5);
    color: black;
    border-radius: 4px;
  }
}

@media (-moz-os-version: windows-win7),
       (-moz-os-version: windows-win8) {
  @media (-moz-windows-compositor) {
    #main-window {
      background: transparent !important;
    }

    /* Remove lwtheme borders from toolbars in non-maximized windows. */
    #toolbar-menubar,
    #TabsToolbar {
      border-left-style: none !important;
      border-right-style: none !important;
    }
  }

  /* Always show full-height tab separators on tabs with borders. */
  .tabbrowser-tab::before,
  .tabbrowser-tab::after {
    border-image: none !important;
  }

  /* Show border on tabs with background colors and
   * show the tabs toolbar background color inside tabs. */
  .tabbrowser-tab {
    background-color: var(--lwt-accent-color) !important;
    border-top: 1px solid var(--tabs-border-color);
    background-clip: padding-box;
  }

  /* The top border on top of the tab background is replaced
   * by the slightly transparent outside tabs-border-color. */
  .tab-background {
    border-top-style: none !important;
  }

  /* The border at the end of the tab strip is replaced
   * by the slightly transparent outside tabs-border-color. */
  .tabbrowser-tab[last-visible-tab] {
    border-inline-end: 1px solid var(--tabs-border-color);
  }

  .tabbrowser-tab[last-visible-tab]::after {
    display: none !important;
  }

  /* Use default window colors */
  #TabsToolbar,
  #navigator-toolbox {
    background-color: transparent;
  }

  /* Use proper menu text styling in Win7 classic mode (copied from browser.css) */
  @media (-moz-windows-compositor: 0),
         (-moz-windows-default-theme: 0) {
    :root[tabsintitlebar]:not([inFullscreen]) .titlebar-color {
      color: CaptionText;
    }

    :root[tabsintitlebar]:not([inFullscreen]) .titlebar-color:-moz-window-inactive {
      color: InactiveCaptionText;
    }

    #main-window[tabsintitlebar] #main-menubar > menu {
      color: inherit;
    }
  }
}

/* Restored windows get an artificial border on windows, because the lwtheme background
 * overlaps the regular window border. That isn't the case for us, so we avoid painting
 * over the native border with our custom borders: */
#navigator-toolbox {
  /* These are !important to avoid specificity-wars with the selectors that add borders here. */
  background-image: none !important;
  border-top: none !important;
  box-shadow: none !important;
  padding-top: 0 !important;
}
