# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Perihal { -brand-full-name }
releaseNotes-link = Perkembangan terbaru
update-checkForUpdatesButton =
    .label = Semak kemaskini
    .accesskey = S
update-updateButton =
    .label = Mula semula untuk mengemaskini { -brand-shorter-name }
    .accesskey = M
update-checkingForUpdates = Menyemak kemaskini…
update-downloading = <img data-l10n-name="icon"/>Memuat turun kemaskini — <label data-l10n-name="download-status"/>
update-applying = Melaksanakan kemaskini…
update-failed = Kemaskini gagal. <label data-l10n-name="failed-link">Muat turun versi terkini</label>
update-failed-main = Kemaskini gagal. <a data-l10n-name="failed-link-main">Muat turun versi terkini</a>
update-adminDisabled = Kemaskini dinyahdayakan oleh pentadbir sistem anda
update-noUpdatesFound = { -brand-short-name } sudah terkini
update-otherInstanceHandlingUpdates = { -brand-short-name } sedang dikemaskini oleh tika lain
update-manual = Kemaskini tersedia di <label data-l10n-name="manual-link"/>
update-unsupported = Anda tidak boleh lagi melaksanakan kemaskini dalam sistem ini. <label data-l10n-name="unsupported-link">Ketahui selanjutnya</label>
update-restarting = Memulakan semula...
channel-description = Anda sedang berada dalam <label data-l10n-name="current-channel"></label> saluran kemaskini.{ " " }
warningDesc-version = { -brand-short-name } masih dalam percubaan dan mungkin tidak stabil.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> adalah <label data-l10n-name="community-exp-creditsLink">komuniti global</label> bekerjasama supaya Web ini terbuka kepada umum dan boleh diakses oleh semua.
community-2 = { -brand-short-name } direka oleh <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, sebuah <label data-l10n-name="community-creditsLink">komuniti global</label> bekerjasama supaya Web ini terbuka kepada umum dan boleh diakses oleh semua.
helpus = Mahu membantu? <label data-l10n-name="helpus-donateLink">Hulurkan sumbangan</label> atau <label data-l10n-name="helpus-getInvolvedLink">sertainya!</label>
bottomLinks-license = Maklumat Perlesenan
bottomLinks-rights = Hak Pengguna Akhir
bottomLinks-privacy = Polisi Privasi
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
