# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name }-ის შესახებ
releaseNotes-link = რა არის ახალი
update-checkForUpdatesButton =
    .label = განახლებების შემოწმება
    .accesskey = გ
update-updateButton =
    .label = გასაახლებლად, გაუშვით ხელახლა { -brand-shorter-name }
    .accesskey = ხ
update-checkingForUpdates = მიმდინარეობს განახლებების შემოწმება...
update-downloading = <img data-l10n-name="icon"/>განახლების ჩამოტვირთვა — <label data-l10n-name="download-status"/>
update-applying = განახლების ამოქმედება…
update-failed = განახლება ვერ მოხერხდა. <label data-l10n-name="failed-link">უახლესი ვერსიის ჩამოტვირთვა</label>
update-failed-main = განახლება ვერ მოხერხდა. <a data-l10n-name="failed-link-main">უახლესი ვერსიის ჩამოტვირთვა</a>
update-adminDisabled = განახლებები აკრძალულია თქვენი სისტემური ადმინისტრატორის მიერ
update-noUpdatesFound = { -brand-short-name } განახლებულია
update-otherInstanceHandlingUpdates = { -brand-short-name }-ის განახლება უკვე მიმდინარეობს
update-manual = განახლებები ხელმისაწვდომია <label data-l10n-name="manual-link"/>
update-unsupported = თქვენ ამ სისტემაზე დამატებითი განახლებების შესრულებაც შეგიძლიათ. <label data-l10n-name="unsupported-link">ვრცლად</label>
update-restarting = ეშვება ხელახლა…
channel-description = თქვენ ამჟამად იყენებთ <label data-l10n-name="current-channel"></label> განახლების არხს.
warningDesc-version = { -brand-short-name } საცდელია და შესაძლოა არამდგრადი იყოს.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> არის <label data-l10n-name="community-exp-creditsLink">საერთაშორისო ერთობა</label>, რომელიც მუშაობს იმისთვის, რომ ინტერნეტი დარჩეს გახსნილი, საჯარო და საყოველთაოდ ხელმისაწვდომი.
community-2 = { -brand-short-name }-ის შემქმნელია <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label> – <label data-l10n-name="community-creditsLink">საერთაშორისო ერთობა</label>, რომელიც მუშაობს იმისთვის, რომ ინტერნეტი დარჩეს გახსნილი, საჯარო და საყოველთაოდ ხელმისაწვდომი.
helpus = გსურთ დახმარება? <label data-l10n-name="helpus-donateLink">გააკეთეთ შემოწირულება</label> ან <label data-l10n-name="helpus-getInvolvedLink">შემოგვიერთდით!</label>
bottomLinks-license = ლიცენზირების შესახებ
bottomLinks-rights = მომხმარებლის უფლებები
bottomLinks-privacy = პირადი მონაცემების დაცვის დებულება
aboutDialog-architecture-sixtyFourBit = 64-ბიტი
aboutDialog-architecture-thirtyTwoBit = 32-ბიტი
