%if 0
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
%endif
@import url("chrome://global/skin/in-content/common.css");

.main-content {
  padding: 0;
}

#nav-header {
  min-height: 39px;
}

.view-pane > .list > scrollbox {
  padding-right: 24px;
  padding-left: 24px;
}


/*** global warnings ***/

.global-warning-container {
  overflow-x: hidden;
}

.global-warning {
  -moz-box-align: center;
  padding: 0 8px;
  color: #c8a91e;
  font-weight: bold;
}

#addons-page[warning] .global-warning-container {
  background-image: linear-gradient(transparent, rgba(255, 255, 0, 0.1));
}

#detail-view .global-warning {
  padding: 4px 12px;
  border-bottom: 1px solid var(--in-content-border-color);
}

@media (max-width: 600px) {
  .global-warning-text {
    display: none;
  }

  .global-warning .warning-icon {
    background-color: #fff;
    box-shadow: 0 0 2px 5px #fff;
    border-radius: 10px;
  }
}

/*** global informations ***/

/* Plugins aren't yet disabled by safemode (bug 342333),
   so don't show that warning when viewing plugins. */
#addons-page[warning="safemode"] .view-pane[type="plugin"] .global-warning-container,
#addons-page[warning="safemode"] #detail-view[loading="true"] .global-warning-container {
  background-color: inherit;
  background-image: none;
}


/*** notification icons ***/

.warning-icon,
.error-icon,
.pending-icon,
.info-icon {
  width: 16px;
  height: 16px;
  margin: 3px 0;
}

.warning-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.svg");
}

.error-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-error.svg");
}

.pending-icon,
.info-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-positive.svg");
}

.addon-view[pending="disable"] .pending-icon,
.addon-view[pending="uninstall"] .pending-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-info-negative.svg");
}

/*** view alert boxes ***/

.alert-container {
  -moz-box-align: center;
  margin-right: 48px;
  margin-left: 48px;
}

.alert-spacer-before {
  -moz-box-flex: 1;
}

.alert-spacer-after {
  -moz-box-flex: 3;
}

.alert {
  -moz-box-align: center;
  padding: 10px;
  color: var(--in-content-text-color);
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: var(--in-content-box-background-hover);
  text-align: center;
}

.alert .alert-title {
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 15px;
}

.alert button {
  margin: 1em 2em;
}

.experiment-info-container > .alert button {
  margin: 0 4px;
}

.loading {
  list-style-image: url("chrome://global/skin/icons/loading.png");
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-resolution: 1.1dppx) {
  .loading > image {
    width: 16px;
    list-style-image: url("chrome://global/skin/icons/loading@2x.png");
  }
}

button.warning {
  list-style-image: url("chrome://mozapps/skin/extensions/alerticon-warning.svg");
}


/*** category selector ***/

#categories > .category[disabled] {
  overflow: hidden;
  height: 0;
  min-height: 0;
  opacity: 0;
  transition-property: min-height, opacity;
  transition-duration: 1s, 0.8s;
}

#categories > .category:not([disabled]) {
  transition-property: min-height, opacity;
  transition-duration: 1s, 0.8s;
}

/* Maximize the size of the viewport when the window is small */
@media (max-width: 800px) {
  .category-name {
    display: none;
  }
}

.category-badge {
  background-color: #55D4FF;
  padding: 2px 8px;
  margin: 6px 0;
  margin-inline-start: 6px;
  border-radius: 100%;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.category-badge[value="0"] {
  display: none;
}

#category-discover > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-discover.svg");
}
#category-locale > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-languages.svg");
}
#category-extension > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-extensions.svg");
}
#category-service > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-service.svg");
}
#category-theme > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.svg");
}
#category-plugin > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-plugins.svg");
}
#category-dictionary > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-dictionaries.svg");
}
#category-experiment > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-experiments.svg");
}
#category-legacy > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-legacy.svg");
}
#category-availableUpdates > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-available.svg");
}
#category-recentUpdates > .category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-recent.svg");
}


/*** header ***/

#header-inner {
  margin: 20px 4px 4px;
  width: 692px;
}

#header-search {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 32px;
}

#search-label {
  margin: 0;
  margin-inline-end: 4px;
  margin-bottom: 2px;
}

@media (max-width: 600px) {
  #header-search {
    width: 12em;
  }
}

#header-utils-btn {
  line-height: 20px;
  border-color: var(--in-content-box-border-color);
  background-color: var(--in-content-page-background);
  padding-right: 10px;
  padding-left: 10px;
  /* This button is too tall, adding margin-bottom shrinks it. */
  margin-bottom: 2px;
  margin-inline-end: 0;
}

#header-utils-btn:not([disabled="true"]):active:hover,
#header-utils-btn[open="true"] {
  background-color: var(--in-content-box-background-active);
}

.header-button {
  -moz-appearance: none;
  border: 1px solid;
  border-radius: 2px;
}

.header-button[disabled="true"] > .toolbarbutton-icon {
  opacity: 0.4;
}

.header-button:not([disabled="true"]):hover,
#header-utils-btn:not([disabled="true"]):hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.header-button > .toolbarbutton-text {
  display: none;
}

#heading {
  margin-top: 26px;
  margin-bottom: 16px;
}

.heading-inner {
  width: 664px;
  margin-inline-start: 28px;
}

/*** discover view ***/

.discover-spacer-before,
.discover-spacer-after {
  -moz-box-flex: 1;
}

#discover-error .alert {
  max-width: 45em;
  -moz-box-flex: 1;
}

.discover-logo {
  list-style-image: url("chrome://mozapps/skin/extensions/discover-logo.png");
  margin-inline-end: 15px;
}

.discover-title {
  font-weight: bold;
  font-size: 24px;
  font-family: MetaWebPro-Book, "Trebuchet MS", sans-serif;
  margin: 0 0 15px 0;
}

.discover-description {
  text-align: justify;
  margin: 0 0 15px 0;
}

.discover-footer {
  text-align: justify;
}


/*** list ***/

.list {
  -moz-appearance: none;
  margin: 0;
  border-width: 0 !important;
  background-color: transparent;
}

.icon {
  list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.svg");
  max-width: 24px;
  max-height: 24px;
  margin-inline-end: 16px;
}

.content-inner-container {
  margin-inline-end: 5px;
}

.addon[active="false"] .icon {
  filter: grayscale(1);
}

.addon label,
.addon {
  cursor: pointer;
}

.relnotes-container {
  cursor: auto;
}

.addon-view[type="theme"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.svg");
}

.addon-view[type="locale"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.svg");
}

.addon-view[type="plugin"] .icon {
  list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.svg");
}

.addon-view[type="dictionary"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.svg");
}

.addon-view[type="experiment"] .icon {
  list-style-image: url("chrome://mozapps/skin/extensions/experimentGeneric.svg");
}

.name-container {
  font-weight: 600;
  -moz-box-align: end;
  -moz-box-flex: 1;
}

.legacy-warning {
  background-color: #FFE900;
  color: #3E2800;
  padding: 4px 5px 3px;
  font-size: 0.9rem;
  font-weight: 600;
  -moz-user-focus: ignore;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(.07,.95,0,1);
  transition-duration: 150ms;
}

.legacy-warning:hover {
  background-color: #D7B600;
  color: #3E2800;
  text-decoration: none;
}

.legacy-warning:hover:active {
  background-color: #a47f00;
  color: #FFF;
}

#detail-view .legacy-warning {
  margin-top: 0.78rem;
}

.creator {
  font-size: 1.2rem;
}

.description-container {
  -moz-box-align: center;
  font-size: 1rem;
}

.description {
  margin: 0;
}

.warning,
.pending,
.error {
  margin-inline-start: 48px;
  font-weight: bold;
  -moz-box-align: center;
}

.content-container,
.basicinfo-container {
  -moz-box-align: start;
}

.addon[status="installing"] > .content-container {
  -moz-box-align: stretch;
}

.update-info-container {
  -moz-box-align: center;
}

.update-available {
  -moz-box-align: end;
}

.install-status-container {
  -moz-box-pack: end;
  -moz-box-align: end;
}

.name-outer-container {
  -moz-box-pack: center;
}

.relnotes-toggle-container,
.icon-outer-container {
  -moz-box-pack: start;
}

.status-container {
  -moz-box-pack: end;
}

.addon-view .warning {
  color: #d8b826;
}

.addon-view .error {
  color: #e62117;
}

.addon-view .pending {
  color: #62c44e;
}

.addon-view[pending="disable"] .pending,
.addon-view[pending="uninstall"] .pending {
  color: #898989;
}

.addon .relnotes-container {
  -moz-box-align: start;
  margin-inline-start: 6px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon[show-relnotes] .relnotes-container {
  opacity: 1;
  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
}

.addon .relnotes-header {
  font-weight: bold;
  margin: 10px 0;
}

.addon .relnotes-toggle {
  -moz-appearance: none;
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

.addon .relnotes-toggle > .button-box > .button-icon {
  padding-inline-start: 4px;
}

.addon-view[notification],
.addon-view[pending] {
  --view-highlight-color: transparent;
  background-image: radial-gradient(at 50% 0%,
                                    var(--view-highlight-color) 0%,
                                    transparent 75%);
}
.addon-view[notification="warning"] {
  --view-highlight-color: #F9F5E5;
}

.addon-view[notification="error"] {
  --view-highlight-color: #FFE8E9;
}

.addon-view[pending="enable"],
.addon-view[pending="upgrade"],
.addon-view[pending="install"] {
  --view-highlight-color: #EFFAF2;
}

.addon-view[pending="disable"],
.addon-view[pending="uninstall"] {
  --view-highlight-color: #F2F2F2;
}

.list > .addon[selected] {
  background-color: var(--in-content-box-background);
}

.list:focus > .addon[selected] {
  box-shadow: var(--card-shadow-focus);
  color: var(--in-content-text-color);
}

#addon-list .addon[active="false"] > .content-container > .content-inner-container {
  color: #999;
}

#addon-list .addon[active="false"][selected] > .content-container > .content-inner-container {
  color: #777;
}


/*** item - uninstalled ***/

.list > .addon[status="uninstalled"] {
  border: none;
}

.addon[status="uninstalled"] > .container {
  -moz-box-align: center;
  padding: 4px 20px;
  background-color: #FDFFA8;
  border-radius: 8px;
  font-size: 120%;
}

.addon[status="uninstalled"][selected] {
  background-color: transparent;
}


/*** detail view ***/

#detail-view > .scrollbox-innerbox {
  margin: 8px 28px;
}

#detail-view .loading {
  opacity: 0;
}

#detail-view[loading-extended] .loading {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
}

.detail-view-container {
  width: 664px;
}

#detail-notifications {
  margin-top: 1em;
  margin-bottom: 2em;
}

#detail-view:not([notification="warning"]):not([notification="error"]):not([pending]) #detail-notifications {
  display: none;
}

#detail-notifications .warning,
#detail-notifications .pending,
#detail-notifications .error {
  margin-inline-start: 0;
}

#detail-icon-container {
  width: 64px;
  margin-top: 6px;
}

#detail-icon {
  max-width: 32px;
  max-height: 32px;
}

.name-container > label,
#detail-creator,
#detail-name-container > label {
  margin-inline-start: 0;
}

#detail-controls {
  margin-inline-start: -4px;
  margin-inline-end: -4px;
}

#detail-screenshot-box {
  margin-inline-end: 2em;
  background-image: linear-gradient(rgba(255,255,255,.5), transparent);
  background-color: white;
  box-shadow: 0 1px 2px #666;
  border-radius: 2px;
}

#detail-screenshot {
  max-width: 300px;
  max-height: 300px;
}

#detail-screenshot[loading] {
  background-image: url("chrome://global/skin/icons/loading.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-resolution: 1.1dppx) {
  #detail-screenshot[loading] {
    background-image: url("chrome://global/skin/icons/loading@2x.png");
    background-size: 16px;
  }
}

#detail-screenshot[loading="error"] {
  background-image: url("chrome://global/skin/media/error.png");
}

#detail-desc-container {
  line-height: 1.3;
  margin: 1em 0;
}

#detail-controls > button {
  margin-bottom: 0;
}

.addon.card {
  background-origin: border-box;
  color: var(--in-content-text-color);
  margin: 8px 4px;
  max-width: 664px;
  /* The .addon-control element on the end has 4px of margin, remove it
   * from the padding to stay balanced. */
  padding-inline-end: 12px;
}

.addon-detail.card:hover {
  box-shadow: var(--card-shadow);
}

.addon.card > .card-heading-image {
  margin-inline-end: -12px;
}

#detail-desc, #detail-fulldesc {
  margin-inline-start: 0;
  /* This is necessary to fix layout issues with multi-line descriptions, see
     bug 592712*/
  outline: solid transparent;
  white-space: pre-wrap;
  min-width: 10em;
}

#detail-fulldesc {
  margin-top: 1em;
}

#detail-contributions {
  border-radius: 2px;
  border: 1px solid var(--in-content-box-border-color);
  margin-bottom: 2em;
  padding: 1em;
  background-color: var(--in-content-box-background);
}

#detail-contrib-description {
  font-style: italic;
  margin-bottom: 1em;
  color: var(--in-content-text-color);
}

#detail-contrib-suggested {
  color: grey;
  font-weight: bold;
}

#detail-contrib-btn {
  color: var(--in-content-selected-text);
  text-shadow: none;
  border: 1px solid transparent;
  list-style-image: url("chrome://mozapps/skin/extensions/heart.png");
  background-color: var(--in-content-primary-button-background);
}

#detail-contrib-btn .button-icon {
  margin-inline-end: 5px;
}

#detail-contrib-btn:not(:active):hover {
  background-color: var(--in-content-primary-button-background-hover);
}

#detail-contrib-btn:active:hover {
  background-color: var(--in-content-primary-button-background-active);
}

#detail-grid {
  margin-bottom: 2em;
}

#detail-grid > columns > column:first-child {
  min-width: 15em;
  max-width: 25em;
}

.detail-row[first-row="true"],
.detail-row-complex[first-row="true"] {
  border-top: none;
}

.detail-row,
.detail-row-complex {
  border-top: 1px solid var(--in-content-box-border-color);
  -moz-box-align: center;
  min-height: 35px;
  line-height: 20px;
  text-shadow: 0 1px 1px #fefffe;
}

.inline-options-browser {
  margin-top: 2em;
}

.preferences-alignment {
  min-height: 30px;
  -moz-box-align: center;
}

.preferences-description {
  font-size: 90.9%;
  color: graytext;
  margin-top: -2px;
  margin-inline-start: 2em;
  white-space: pre-wrap;
}

.preferences-description:empty {
  display: none;
}


/*** creator ***/

.creator > label {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.creator > .text-link {
  margin-top: 1px;
  margin-bottom: 1px;
}


/*** rating ***/

.meta-rating {
  margin-inline-end: 0;
  padding-top: 2px;
}


/*** download progress ***/

.download-progress {
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 2px;
  background-color: #fbfbfb;
  width: 200px;
  height: 30px;
  margin: 2px 4px;
}

.download-progress[mode="undetermined"] {
  border-color: var(--in-content-border-highlight);
}

.download-progress .start-cap,
.download-progress[complete] .end-cap,
.download-progress[mode="undetermined"] .end-cap,
.download-progress .progress .progress-bar {
  -moz-appearance: none;
  background-color: var(--in-content-border-highlight);
}

.download-progress .progress .progress-bar  {
  min-height: 28px;
}

.download-progress .progress {
  -moz-appearance: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.download-progress .start-cap,
.download-progress .end-cap {
  width: 4px;
}

.download-progress .start-cap:-moz-locale-dir(ltr),
.download-progress .end-cap:-moz-locale-dir(rtl) {
  border-radius: 1px 0 0 1px;
}

.download-progress .end-cap:-moz-locale-dir(ltr),
.download-progress .start-cap:-moz-locale-dir(rtl) {
  border-radius: 0 1px 1px 0;
}

.download-progress .cancel {
  -moz-appearance: none;
  padding: 3px;
  min-width: 0;
  width: 20px;
  height: 20px;
  margin: 3px;
}

.download-progress .cancel .button-box {
  /* override in-content/common.css !important rule */
  padding: 0 !important;
}

.download-progress .cancel .button-text {
  display: none;
}

.download-progress .cancel .button-icon {
  margin: 0;
}

.download-progress .cancel {
  list-style-image: url('chrome://mozapps/skin/extensions/cancel.png');
}

.download-progress .status-container {
  -moz-box-align: center;
}

.download-progress .status {
  color: #333;
  text-shadow: #fff 0 0 2px;
}


/*** install status ***/

.install-status {
  -moz-box-align: center;
}


/*** check for updates ***/

#updates-container {
  -moz-box-align: center;
}

#updates-container .button-link {
  font-weight: bold;
}

#updates-installed,
#updates-downloaded {
  color: #00BB00;
  font-weight: bold;
}

#update-selected {
  margin: 12px;
}


/*** buttons ***/

.addon-control[disabled="true"]:not(.no-auto-hide) {
  display: none;
}

.addon-control {
  cursor: default;
  margin-top: 0;
  margin-bottom: 0;
  min-height: auto;
  min-width: auto;
  padding: 2px 4px;
}

.no-auto-hide .addon-control {
  display: block !important;
}

button.button-link {
  -moz-appearance: none;
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--in-content-link-color);
  cursor: pointer;
  min-width: 0;
  min-height: 20px;
  margin: 0 6px;
}

button.button-link:hover {
  background-color: transparent;
  color: var(--in-content-link-color-hover);
  text-decoration: underline;
}

/* Needed to override normal button style from inContent.css */
button.button-link:not([disabled="true"]):active:hover {
  background-color: transparent;
  color: #0A84FF;
  text-decoration: none;
}

.addon-control.replacement {
  background-color: var(--in-content-primary-button-background);
  border-color: var(--in-content-primary-button-background);
  color: var(--in-content-selected-text);
}

.addon-control.replacement:active,
.addon-control.replacement:hover {
  background-color: var(--in-content-primary-button-background-hover);
  border-color: var(--in-content-primary-button-background-hover);
}

.addon-control.replacement:active:hover {
  background-color: var(--in-content-primary-button-background-active);
  border-color: var(--in-content-primary-button-background-active);
}

/*** telemetry experiments ***/

#detail-experiment-container {
  font-size: 80%;
  margin-bottom: 1em;
}

#detail-experiment-bullet-container,
#detail-experiment-state,
#detail-experiment-time,
.experiment-bullet-container,
.experiment-state,
.experiment-time {
  vertical-align: middle;
  display: inline-block;
}

.addon .experiment-bullet,
#detail-experiment-bullet {
  fill: rgb(158, 158, 158);
}

.addon[active="true"] .experiment-bullet,
#detail-view[active="true"] #detail-experiment-bullet {
  fill: rgb(106, 201, 20);
}

/*** info UI for add-ons that have been disabled for being unsigned ***/

#show-disabled-unsigned-extensions:not(:hover) {
  background-color: #fcf8ed;
}

#disabled-unsigned-addons-info,
#legacy-extensions-info {
  margin-bottom: 2em;
  margin-right: 48px;
  margin-left: 48px;
}

#disabled-unsigned-addons-heading,
#legacy-extensions-heading {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: .5em;
}

#signing-dev-info {
  font-style: italic;
}

#detail-findUpdates-btn[hidden] {
  display: -moz-box;
  visibility: hidden;
}

/*** Reset PopupAutoComplete richlistbox styles ***/

#PopupAutoComplete richlistbox {
  -moz-appearance: initial;
  margin-inline-start: 0;
  border: none;
  border-radius: 0;
}
