# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Thông tin về { -brand-full-name }
releaseNotes-link = Có gì mới
update-checkForUpdatesButton =
    .label = Kiểm tra cập nhật
    .accesskey = C
update-updateButton =
    .label = Khởi động lại để cập nhật { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Đang kiểm tra cập nhật…
update-downloading = <img data-l10n-name="icon"/>Đang tải cập nhật — <label data-l10n-name="download-status"/>
update-applying = Đang cài đặt cập nhật…
update-failed = Cập nhật thất bại. <label data-l10n-name="failed-link">Tải phiên bản mới nhất</label>
update-failed-main = Cập nhật thất bại. <a data-l10n-name="failed-link-main">Tải phiên bản mới nhất</a>
update-adminDisabled = Cập nhật bị vô hiệu hóa bởi quản trị hệ thống
update-noUpdatesFound = { -brand-short-name } đã được cập nhật
update-otherInstanceHandlingUpdates = { -brand-short-name } đang được cập nhật bởi tiến trình khác
update-manual = Cập nhật có tại <label data-l10n-name="manual-link"/>
update-unsupported = Bạn không thể cập nhật thêm trên hệ thống này nữa. <label data-l10n-name="unsupported-link">Tìm hiểu thêm</label>
update-restarting = Đang khởi động lại…
channel-description = Bạn hiện đang trên <label data-l10n-name="current-channel"></label> kênh cập nhật.{ " " }
warningDesc-version = { -brand-short-name } đang được thử nghiệm và có thể không ổn định.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> là một <label data-l10n-name="community-exp-creditsLink">cộng đồng toàn cầu</label> cùng chung sức bảo vệ Web mở, công khai và cho phép ai cũng truy cập được.
community-2 = { -brand-short-name } được thiết kế bởi <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, một <label data-l10n-name="community-creditsLink">cộng đồng toàn cầu</label> cùng chung sức bảo vệ Web mở và cho phép ai cũng truy cập được.
helpus = Bạn muốn giúp đỡ? <label data-l10n-name="helpus-donateLink">Quyên góp tài chính</label>, hoặc <label data-l10n-name="helpus-getInvolvedLink">tham gia đóng góp!</label>
bottomLinks-license = Thông tin giấy phép
bottomLinks-rights = Quyền hạn người dùng cuối
bottomLinks-privacy = Chính sách riêng tư
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
