# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

addons-window =
    .title = ਐਡ-ਆਨ ਮੈਨੇਜਰ
search-header-shortcut =
    .key = f
loading-label =
    .value = …ਲੋਡ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੈ
list-empty-installed =
    .value = ਤੁਹਾਡੇ ਕੋਲ ਇਸ ਕਿਸਮ ਦੀ ਕੋਈ ਵੀ ਐਡ-ਆਨ ਇੰਸਟਾਲ ਨਹੀਂ ਹੈ
list-empty-available-updates =
    .value = ਕੋਈ ਅੱਪਡੇਟ ਨਹੀਂ ਲੱਭਿਆ
list-empty-recent-updates =
    .value = ਤੁਸੀਂ ਹੁਣੇ ਜਿਹੇ ਕੋਈ ਵੀ ਐਡ-ਆਨ ਅੱਪਡੇਟ ਨਹੀਂ ਕੀਤੀ ਹੈ
list-empty-find-updates =
    .label = ਅੱਪਡੇਟ ਲਈ ਚੈੱਕ ਕਰੋ
list-empty-button =
    .label = ਐਡ-ਆਨ ਬਾਰੇ ਹੋਰ ਜਾਣੋ
install-addon-from-file =
    .label = …ਐਡ-ਆਨ ਫਾਈਲ ਤੋਂ ਇੰਸਟਾਲ ਕਰੋ
    .accesskey = I
tools-menu =
    .tooltiptext = ਸਭ ਐਡ-ਆਨ ਲਈ ਟੂਲ
show-unsigned-extensions-button =
    .label = ਕੁਝ ਇਕਸਟੈਨਸ਼ਨਾਂ ਦੀ ਜਾਂਚ ਨਹੀਂ ਕੀਤੀ ਜਾ ਸਕੀ
show-all-extensions-button =
    .label = ਸਭ ਇਕਸਟੈਨਸ਼ਨਾਂ ਦਿਖਾਉ
debug-addons =
    .label = ਐਡ-ਆਨ ਨੂੰ ਡੀਬੱਗ ਕਰੋ
    .accesskey = B
cmd-show-details =
    .label = ਹੋਰ ਜਾਣਕਾਰੀ ਵੇਖੋ
    .accesskey = S
cmd-find-updates =
    .label = ਅੱਪਡੇਟ ਲੱਭੋ
    .accesskey = F
cmd-preferences =
    .label =
        { PLATFORM() ->
            [windows] ਚੋਣਾਂ
           *[other] ਮੇਰੀ ਪਸੰਦ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
cmd-enable-theme =
    .label = ਥੀਮ ਲਾਓ
    .accesskey = W
cmd-disable-theme =
    .label = ਥੀਮ ਲਾਉਣ ਤੋਂ ਰੋਕੋ
    .accesskey = W
cmd-install-addon =
    .label = ਇੰਸਟਾਲ
    .accesskey = I
cmd-contribute =
    .label = ਯੋਗਦਾਨ
    .accesskey = C
    .tooltiptext = ਇਹ ਐਡ-ਆਨ ਦੇ ਡਿਵੈਲਪਮੈਂਟ ਲਈ ਯੋਗਦਾਨ ਪਾਓ
discover-title = ਐਡ-ਆਨ ਕੀ ਹੈ??
discover-description = ਐਡ-ਆਨ ਐਪਲੀਕੇਸ਼ਨ ਹਨ, ਜੋ ਕਿ ਤੁਹਾਨੂੰ { -brand-short-name } ਨੂੰ ਆਪਣੀ ਲੋੜ ਮੁਤਾਬਕ ਬਦਲਣ ਦਿੰਦੀਆਂ ਹਨ, ਜਿਸ ਨਾਲ ਹੋਰ ਸਹੂਲਤਾਂ ਜਾਂ ਸਟਾਇਲ ਮਿਲ ਸਕੇ। ਸਮਾਂ-ਬੱਚਤ (time-saving) ਬਾਹੀ, ਮੌਸਮ ਸੂਚਨਾ, ਜਾਂ ਆਪਣੇ ਵਰਗੀ ਫਾਇਰਫਾਕਸ ਥੀਮ ਦਿੱਖ ਵਰਤ ਕੇ ਵੇਖੋ।
discover-footer = ਜਦੋਂ ਤੁਸੀਂ ਇੰਟਰਨੈੱਟ ਨਾਲ ਕੁਨੈਕਟ ਹੋਵੋਗੇ ਤਾਂ ਇਹ ਥਾਂ ਵੀ ਕੁਝ ਬਹੁਤ ਵਧੀਆ ਤੇ ਹਰਮਨ ਪਿਆਰੇ ਐਡ-ਆਨ ਵੇਖਾਏ ਜਾਣਗੇ, ਜਿੰਨ੍ਹਾਂ ਨੂੰ ਤੁਸੀਂ ਵਰਤਣਾ ਚਾਹੋਗੇ।
detail-version =
    .label = ਵਰਜ਼ਨ
detail-last-updated =
    .label = ਆਖਰੀ ਅੱਪਡੇਟ
detail-contributions-description = ਇਹ ਐਡ-ਆਨ ਦੇ ਡਿਵੈਲਪਰ ਨੇ ਤੁਹਾਨੂੰ ਪੁੱਛਿਆ ਹੈ ਕਿ ਤੁਸੀਂ ਛੋਟਾ ਜਿਹਾ ਯੋਗਦਾਨ ਦੇ ਕੇ ਇਸ ਦੀ ਡਿਵੈਲਪਮੈਂਟ ਨੂੰ ਜਾਰੀ ਰੱਖਣ 'ਚ ਮੱਦਦ ਕਰਨਾ ਚਾਹੁੰਦੇ ਹੋ।
detail-update-type =
    .value = ਆਟੋਮੈਟਿਕ ਅੱਪਡੇਟ
detail-update-default =
    .label = ਡਿਫਾਲਟ
    .tooltiptext = ਜੇ ਡਿਫਾਲਟ ਹੋਵੇ ਤਾਂ ਅੱਪਡੇਟ ਆਟੋਮੈਟਿਕ ਹੀ ਇੰਸਟਾਲ ਕਰੋ
detail-update-automatic =
    .label = ਚਾਲੂ
    .tooltiptext = ਆਟੋਮੈਟਿਕ ਅੱਪਡੇਟ ਇੰਸਟਾਲ ਕਰੋ
detail-update-manual =
    .label = ਬੰਦ
    .tooltiptext = ਅੱਪਡੇਟ ਆਟੋਮੈਟਿਕ ਇੰਸਟਾਲ ਨਾ ਕਰੋ
detail-home =
    .label = ਮੁੱਖ ਸਫ਼ਾ
detail-home-value =
    .value = { detail-home.label }
detail-repository =
    .label = ਐਡ-ਆਨ ਪਰੋਫਾਈਲ
detail-repository-value =
    .value = { detail-repository.label }
detail-check-for-updates =
    .label = ਅੱਪਡੇਟ ਲਈ ਚੈੱਕ ਕਰੋ
    .accesskey = F
    .tooltiptext = ਇਹ ਐਡ-ਆਨ ਲਈ ਅੱਪਡੇਟ ਚੈੱਕ ਕਰੋ
detail-show-preferences =
    .label =
        { PLATFORM() ->
            [windows] ਚੋਣਾਂ
           *[other] ਮੇਰੀ ਪਸੰਦ
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
    .tooltiptext =
        { PLATFORM() ->
            [windows] ਇਸ ਐਡ-ਆਨ ਦੀਆਂ ਚੋਣਾਂ ਬਦਲੋ
           *[other] ਇਸ ਐਡ-ਆਨ ਦੀ ਪਸੰਦ ਬਦਲੋ
        }
detail-rating =
    .value = ਰੇਟਿੰਗ
addon-restart-now =
    .label = ਹੁਣੇ ਮੁੜ-ਚਾਲੂ
disabled-unsigned-heading =
    .value = ਕੁਝ ਐਡ-ਆਨ ਨੂੰ ਅਸਮਰੱਥ ਕੀਤਾ ਜਾ ਚੁੱਕਾ ਹੈ।
disabled-unsigned-description = ਅੱਗੇ ਦਿੱਤੀਆਂ ਐਡ-ਆਨ ਨੂੰ { -brand-short-name } ਨਾਲ ਵਰਤਣ ਲਈ ਜਾਂਚਿਆ ਨਹੀਂ ਗਿਆ। ਤੁਸੀਂ <label data-l10n-name="find-addons">ਬਦਲ ਲਈ ਲੱਭ ਸਕਦੇ ਹੋ</label> ਜਾਂਚ ਡਿਵੈਲਪਰ ਨੂੰ ਉਹਨਾਂ ਦੀ ਜਾਂਚ ਕਰਵਾਉਣ ਲਈ ਕਹਿ ਸਕਦੇ ਹੋ।
disabled-unsigned-learn-more = ਸਾਡੇ ਵਲੋਂ ਤੁਹਾਨੂੰ ਆਨਲਾਈਨ ਸੁਰੱਖਿਆ ਰੱਖਣ ਲਈ ਕੀਤੇ ਜਾਂਦੇ ਜਤਨਾਂ ਦੇ ਬਾਰੇ ਹੋਰ ਸਮਝੋ।
disabled-unsigned-devinfo = ਡਿਵੈਲਪਰ, ਜੋ ਆਪਣੀਆਂ ਐਡ-ਆਨ ਨੂੰ ਤਸਦੀਕ ਕਰਵਾਉਣਾ ਚਾਹੁੰਦੇ ਹਨ, ਸਾਡੇ <label data-l10n-name="learn-more">ਦਸਤੀ</label> ਨੂੰ ਪੜ੍ਹਨਾ ਜਾਰੀ ਰੱਖ ਸਕਦੇ ਹਨ।
plugin-deprecation-description = ਕੁਝ ਗੁਆਚ ਗਿਆ? ਕੁਝ ਪਲੱਗਇਨਾਂ { -brand-short-name } ਵਲੋਂ ਸਹਾਇਤਾ ਪ੍ਰਾਪਤ ਨਹੀਂ ਹਨ। <label data-l10n-name="learn-more">ਹੋਰ ਜਾਣੋ।</label>
legacy-warning-show-legacy = ਪੁਰਾਣੀਆਂ ਇਕਸਟੈਸ਼ਨਾਂ ਵੇਖਾਓ
legacy-extensions =
    .value = ਪੁਰਾਣੀਆਂ ਇਕਟੈਨਸ਼ਨਾਂ
legacy-extensions-description = ਇਹ ਇਕਟੈਸ਼ਨਾਂ ਮੌਜੂਦਾ { -brand-short-name } ਸਟੈਂਡਰਡਾਂ ਨੂੰ ਪੂਰਾ ਨਹੀਂ ਕਰਦੀਆਂ ਹਨ ਇਸਕਰਕੇ ਇਹਨਾਂ ਨੂੰ ਨਾ-ਸਰਗਰਮ ਕੀਤਾ ਗਿਆ ਹੈ। <label data-l10n-name="legacy-learn-more">ਐਡ-ਆਨ 'ਚ ਤਬਦੀਲੀਆਂ ਬਾਰੇ ਜਾਣੋ</label>
extensions-view-discover =
    .name = ਐਡ-ਆਨ ਲਵੋ
    .tooltiptext = { extensions-view-discover.name }
extensions-view-recent-updates =
    .name = ਤਾਜ਼ਾ ਅੱਪਡੇਟ
    .tooltiptext = { extensions-view-recent-updates.name }
extensions-view-available-updates =
    .name = ਅੱਪਡੇਟ ਮੌਜੂਦ ਹਨ
    .tooltiptext = { extensions-view-available-updates.name }

## These are global warnings

extensions-warning-safe-mode-label =
    .value = ਸੁਰੱਖਿਅਤ ਮੋਡ 'ਚ ਸਭ ਐਡ-ਆਨ ਬੰਦ ਕਰ ਦਿੱਤੀਆਂ ਗਈਆਂ ਹਨ।
extensions-warning-safe-mode-container =
    .tooltiptext = { extensions-warning-safe-mode-label.value }
extensions-warning-check-compatibility-label =
    .value = ਐਡ-ਆਨ ਅਨੁਕੂਲਤਾ ਚੈੱਕ ਕਰਨਾ ਬੰਦ ਕੀਤਾ ਹੋਇਆ ਹੈ। ਤੁਹਾਡੇ ਕੋਲ ਗ਼ੈਰ-ਅਨੁਕੂਲ ਐਡ-ਆਨ ਹੋ ਸਕਦੀਆਂ ਹਨ।
extensions-warning-check-compatibility-container =
    .tooltiptext = { extensions-warning-check-compatibility-label.value }
extensions-warning-check-compatibility-enable =
    .label = ਸਮਰੱਥ
    .tooltiptext = ਐਡ-ਆਨ ਦੇ ਢੁੱਕਵੇਂਪਣ ਦੀ ਜਾਂਚ ਕਰਨ ਨੂੰ ਸਮਰੱਥ ਕਰੋ
extensions-warning-update-security-label =
    .value = ਐਡ-ਆਨ ਅੱਪਡੇਟ ਸੁਰੱਖਿਆ ਚੈੱਕ ਕਰਨਾ ਬੰਦ ਹੈ। ਤੁਹਾਨੂੰ ਅੱਪਡੇਟ ਰਾਹੀਂ ਖਤਰਾ ਹੋ ਸਕਦਾ ਹੈ।
extensions-warning-update-security-container =
    .tooltiptext = { extensions-warning-update-security-label.value }
extensions-warning-update-security-enable =
    .label = ਚਾਲੂ
    .tooltiptext = ਐਡ-ਆਨ ਉੱਤੇ ਸੁਰੱਖਿਆ ਚੈੱਕ ਕੀਤਾ ਜਾਂਦਾ ਹੈ

## Strings connected to add-on updates

extensions-updates-check-for-updates =
    .label = ਅੱਪਡੇਟ ਲਈ ਚੈੱਕ ਕਰੋ
    .accesskey = C
extensions-updates-view-updates =
    .label = ਤਾਜ਼ਾ ਅੱਪਡੇਟ ਵੇਖੋ
    .accesskey = V

# This menu item is a checkbox that toggles the default global behavior for
# add-on update checking.

extensions-updates-update-addons-automatically =
    .label = ਐਡ-ਆਨ ਆਟੋਮੈਟਿਕ ਹੀ ਅੱਪਡੇਟ ਕਰੋ
    .accesskey = A

## Specific add-ons can have custom update checking behaviors ("Manually",
## "Automatically", "Use default global behavior"). These menu items reset the
## update checking behavior for all add-ons to the default global behavior
## (which itself is either "Automatically" or "Manually", controlled by the
## extensions-updates-update-addons-automatically.label menu item).

extensions-updates-reset-updates-to-automatic =
    .label = ਸਭ ਐਡ-ਆਨ ਆਟੋਮੈਟਿਕ ਅੱਪਡੇਟ ਲਈ ਮੁੜ-ਸੈੱਟ ਕਰੋ
    .accesskey = R
extensions-updates-reset-updates-to-manual =
    .label = ਸਭ ਐਡ-ਆਨ ਖੁਦ ਅੱਪਡੇਟ ਕਰਨ ਕਰਨ ਲਈ ਮੁੜ-ਸੈੱਟ ਕਰੋ
    .accesskey = R

## Status messages displayed when updating add-ons

extensions-updates-updating =
    .value = ਐਡ-ਆਨ ਅੱਪਡੇਟ ਕੀਤੇ ਜਾ ਰਹੇ ਹਨ
extensions-updates-installed =
    .value = ਤੁਹਾਡੀ ਐਡ-ਆਨ ਅੱਪਡੇਟ ਕੀਤੀ ਜਾ ਚੁੱਕੀ ਹੈ।
extensions-updates-downloaded =
    .value = ਤੁਹਾਡੇ ਐਡ-ਆਨ ਅੱਪਡੇਟ ਡਾਊਨਲੋਡ ਕੀਤੇ ਜਾ ਚੁੱਕੇ ਹਨ।
extensions-updates-restart =
    .label = ਇੰਸਟਾਲੇਸ਼ਨ ਪੂਰੀ ਕਰਨ ਲਈ ਹੁਣੇ ਮੁੜ-ਚਾਲੂ ਕਰੋ
extensions-updates-none-found =
    .value = ਕੋਈ ਅੱਪਡੇਟ ਨਹੀਂ ਮਿਲਿਆ
extensions-updates-manual-updates-found =
    .label = ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਵੇਖੋ
extensions-updates-update-selected =
    .label = ਅੱਪਡੇਟ ਇੰਸਟਾਲ ਕਰੋ
    .tooltiptext = ਇਸ ਲਿਸਟ ਵਿੱਚ ਉਪਲੱਬਧ ਅੱਪਡੇਟ ਇੰਸਟਾਲ ਕਰੋ
